{% extends "layouts/layout.html.twig" %}

{% block title %}
    mobile-version
{% endblock %}

{% block metatags %}
    <meta name='viewport' content='width=device-width,initial-scale=1.0'/>
{% endblock %}

{% block additionalLinks %}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
{% endblock %}

{% block bodyClass %}
    mobile
{% endblock %}




{% block content %}

    <div class="hidden-menu__grey-display"></div>

    <div class="first-page">


        <div class='background'>
            <svg id='background__phon' class="svg_position" viewBox='0 320 180 320'  >
                <defs>
                    <radialGradient id='gradient-grey' r='60%' fx='50%' fy='50%' spreadMethod='reflect'>
                        <stop offset='0%' stop-color='#e5e5e5' />
                        <stop offset='50%' stop-color='#e5e5e5'  />
                        <stop offset='75%' stop-color='#FFF' />
                        <stop offset='100%' stop-color='#FFF' />
                    </radialGradient>
                </defs>
                <rect height='640' width='360' fill='url("#gradient-grey")'/>
            </svg>

            <svg id='background__white-circle' class="svg_position">
                <ellipse rx='70%' ry='60%' cx='100%' cy='12%' fill='#FFF'/>
            </svg>

            <svg id="background__colored-right-circle" class="svg_position">
                <defs>
                    <linearGradient id='colored-circle'  x1="0" y1="0" x2="10%" y2="100%" spreadMethod='pad'>
                        <stop offset='0%' stop-color='#0fb5c1' />
                        <stop offset='50%' stop-color='#076bca'  />
                        <stop offset='90%' stop-color='#9578d8' />
                    </linearGradient>
                </defs>
                <circle fill="url('#colored-circle')" cx="100%" cy="25%" r="10%"/>
            </svg>


            <svg id="background__white-circle-upon-colored" class="svg_position">
                <defs>
                    <linearGradient id='white-circle'  x1="40%" y1="0" x2="0" y2="100%" spreadMethod='pad'>
                        <stop offset='15%' stop-color='#FFF' />
                        <stop offset='90%' stop-color='#c2c2c2'/>
                    </linearGradient>
                </defs>
                <circle fill="url('#white-circle')" cx="91%" cy="24%" r="5.5%"/>
            </svg>

            <svg id="background__bottom-partcircle" class="svg_position">
                <defs>
                    <radialGradient id='big-colored-part-circle' cx='50%' cy='50%' r='80%' fx="95%" fy="0%" spreadMethod='pad'>
                        <stop offset='0%' stop-color='#003580' />
                        <stop offset='50%' stop-color='#b13dbe'/>
                    </radialGradient>
                </defs>
                <circle fill="url('#big-colored-part-circle')" cx="11%" cy="115%" r="50%"/>
            </svg>
        </div>

        <div class='first-page-content'>
            <div class="first-page-content__margin">
                <section class="first-page-content_cap first-page-content__margin_flex-child">
                    <header class="first-page-content__header">
                        <span class="green-letter">A</span>Wallet
                    </header>

                    <div class="first-page-content__menu-button  first-page-content_relative">
                        <i class="first-page-content__menu-button_icon fa fa-align-justify fa-2" aria-hidden="true"></i>
                    </div>
                </section>
                <section class="first-page-content_middle first-page-content__margin_flex-child">
                    <div class="first-page-content__slogan  first-page-content_relative">
                        <div class="first-page-content__slogan_text">
                                <svg class="first-page-content__slogan_purple-text" width="93%" height="100%" >
                                    <defs>
                                        <linearGradient id="purple-text" x1="0" y1="0" x2="50%" y2="100%" spreadMethod='pad' >
                                            <stop offset="0%" stop-color="#c495d6" />
                                            <stop offset="100%" stop-color="#7e5298" />
                                        </linearGradient>
                                    </defs>
                                    <text x="0px" y="20%">Optimized for </text>
                                    <text x="175px" y="20%" fill= "url(#purple-text)">mobile</text>
                                </svg>

                        </div>
                        <p class="first-page-content__slogan_under-text">
                            Freedom of action with awallet
                        </p>
                        <div class="first-page-content__start-button  first-page-content_relative">
                            <p class="first-page-content__start-button_link" > Start now</p>
                        </div>
                    </div>

                </section>
                <section class="first-page-content_down first-page-content__margin_flex-child">
                    <footer class="first-page-content__footer  first-page-content_relative">
                        <p> Learn more about &nbsp</p>
                        <p class="first-page-content__footer_link" >
                             wallet
                            <i class="fa fa-long-arrow-right" aria-hidden="true" style="color: #FFF"></i>
                        </p>
                    </footer>
                </section>
            </div>
        </div>

    </div>

    <div class="second-page">


        <div class="background">
            <svg id="background__grey-gradient" class="svg_position" viewBox='180 320 180 320'>
                <defs>
                    <radialGradient id='gradient-grey-second' r='60%' fx='50%' fy='50%' spreadMethod='reflect'>
                        <stop offset='0%' stop-color='#e5e5e5' />
                        <stop offset='50%' stop-color='#e5e5e5'  stop-opacity="0.7"/>
                        <stop offset='75%' stop-color='#FFF' />
                        <stop offset='100%' stop-color='#FFF' />
                    </radialGradient>
                </defs>
                <rect height='640' width='360' fill='url("#gradient-grey-second")'/>
            </svg>
            <svg id="background__white-circle-second" class="svg_position">
                <ellipse rx='70%' ry='60%' cx='0%' cy='12%' fill='#FFF'/>
            </svg>
            <svg id="background__colored-circle-second-page" class="svg_position">
               <defs>
                   <linearGradient id="purple-circle" x1="0%" y1="0%" x2="0%" y2="100%" spreadMethod="pad">
                       <stop offset="0%" stop-color="#003580"/>
                       <stop offset="70%" stop-color="#ff0073"/>
                       <stop offset="100%" stop-color="#ff0073"/>
                   </linearGradient>

               </defs>
               <circle fill="url('#purple-circle')" r="20%" cx="107%" cy="60%" />
            </svg>
            <svg id="background__colored-circle-second-page-coverage" class="svg_position">
                <defs>
                    <radialGradient id="grey-circle-coverage" spreadMethod="pad" cx='50%' cy='50%' r='170%' fx="70%" fy="55%">

                        <stop offset="0%" stop-color="transparent"/>
                        <stop offset="50%" stop-color="#FFF" stop-opacity="0.7"/>
                        <stop offset="100%" stop-color="#FFF" />
                    </radialGradient>
                </defs>
                <circle fill="url('#grey-circle-coverage')" r="20%" cx="107%" cy="60%"/>
            </svg>
        </div>

        <div class="second-page-content">
            <div class="second-page-content__margin">
                <section class="second-page-content_cap second-page-content__margin_flex-child">
                    <header class="second-page-content__header">
                        <span class="green-letter">A</span>Wallet
                    </header>
                    <div class="second-page-content__menu-button">
                        <i class="second-page-content__menu-button_icon fa fa-align-justify fa-2" aria-hidden="true"></i>
                    </div>
                </section>
                <section class="second-page-content_page-name second-page-content__margin_flex-child">
                    <div class="second-page-content__title">
                        <svg class="second-page-content__title_purple-text" width="93%" height="90%" >
                            <defs>
                                <linearGradient id="purple-text-second" x1="0" y1="0" x2="50%" y2="100%" spreadMethod='pad' >
                                    <stop offset="0%" stop-color="#c495d6" />
                                    <stop offset="40%" stop-color="#7e5298" />
                                </linearGradient>
                            </defs>
                            <text x="3%" y="50%" fill= "url('#purple-text-second')">Mission
                                <tspan  fill= "#000" dy="0%" dx="0%">of AWallet</tspan>
                            </text>
                        </svg>
                    </div>
                </section>
                <section class="second-page-content_points second-page-content__margin_flex-child">
                    <div class="second-page-content__missions">
                        <div class="second-page-content__missions_aim">
                            <div class="second-page-content__missions_white-box">
                                <img class="second-page-content__missions_icon" src="/images/mobile-icons/icon-present.svg" alt="present"/>
                            </div>
                            <div class="second-page-content__missions_text">
                                Create a world-wide crypto currency with long-term prospects
                            </div>
                        </div>
                        <div class="second-page-content__missions_aim">
                            <div class="second-page-content__missions_white-box">
                                <img class="second-page-content__missions_icon" src="/images/mobile-icons/icon-growth.svg" alt="growth" />
                            </div>
                            <div class="second-page-content__missions_text">
                                Create an open, secure and stable currancy
                            </div>
                        </div>
                        <div class="second-page-content__missions_aim">
                            <div class="second-page-content__missions_white-box">
                                <img class="second-page-content__missions_icon" src="/images/mobile-icons/icon-globe.svg" alt="globe" />
                            </div>
                            <div class="second-page-content__missions_text">
                                Acquire a global scale and a high level of use around the world
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>



    <div class='hidden-menu'>
        <div class="hidden-menu_centration">
            <div class="hidden-menu__options">
                <div class="hidden-menu__options_items" id="mission">Mission</div>
                <div class="hidden-menu__options_items" id="main-page">Main page</div>
                <div class="hidden-menu__options_items" id="rates">Rates</div>
                <div class="hidden-menu__options_items" id="samples">Samples</div>
            </div>
        </div>
    </div>



{% endblock %}

{% block jsDifferent %}
    <script src="https://use.fontawesome.com/2f3047ef18.js"></script>
{% endblock %}