body.my-cv{

  @media screen and (min-width:60rem) {
    //for IE
    .first-column, .second-column, .third-column {
      width: 33%;
      float: left;
      margin-bottom: 20px;
      .cv_line-indent {
        padding-bottom: 10px;
      }
    }

    //for all other browsers
    .cv {
      &__parts{
        padding: 15px;
        line-height: 1.2rem;
      }
    }
    .cv_cenralization {
      width: 82%;
      grid-template: repeat(17,100px) / repeat(3,3fr);
      min-width: 230px;
      max-width: 1060px;
    }
    .desktop-side {
      background-color: $aside-columns-background;
    }
    .desktop-center {
      background-color: $center-columns-background;
    }

    .general-info {
      grid-area: 1 / 1 / span 7 /span 1;
      .my-image {
        padding: 0;
      }
    }
    .languages {
      grid-area: 8 / 1 / span 2 /span 1;
    }
    .contacts{
      grid-area: 1 / 2 / span 2 /span 1;
    }
    .techniques {
      grid-area: 3 / 2 / span 3 /span 1;
    }
    .hobbies{
      grid-area: 6 / 2 / span 3 /span 1;
      &__each{
        width: 23%;
        margin: auto;
      }
      &__svg {
        height: 100%;
        width: 100%;
      }
    }
    .education{
      grid-area: 1 / 3 / span 2 /span 1;
    }
    .experience{
      grid-area: 3 / 3 / span 4 /span 1;
    }

    .skills {
      grid-area: 7 / 3 / span 3 /span 1;
    }


    .prj-calender {
      grid-area: 10 / 1 / span 3 /span 1;
    }
    .prj-form-c13 {
      grid-area: 13 / 1 / span 3 /span 1;
    }
    .prj-bright-food {
      grid-area: 9 / 2 / span 3 /span 1;
    }
    .prj-mobile {
      grid-area: 12 / 2 / span 3 /span 1;
    }
    .prj-game {
      grid-area: 15 / 2 / span 3 /span 1;
    }
    //.prj-react-ingredients{
    //  grid-area: 10 / 3 / span 3 /span 1;
    //}
    .prj-online-shop {
      grid-area: 10 / 3 / span 3 /span 1;
    }
    .prj-to-do-app {
      grid-area: 13 / 3 / span 3 /span 1;
    }

  }
}