@import "cv-var&mixin";

body.my-cv{

  background-color: $cv-background;
  font-family: 'Source Serif Pro', 'Crimson Text', 'Cormorant Garamond', serif;
  color: $text-color;
  font-size: 0.9rem;

  .cv {
    height: auto;
    &__parts{
      padding: 25px;
      line-height: 1.3rem;
      background-color: #f7e7ce;
      margin: 10px;
    }
  }
  .cv_centralization {
    margin: 0 auto;
  }
  .cv_text-indent {
    text-indent: 0.5rem;
  }
  .cv_headings {
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 0;
    font-size: 1.1rem;
    color: $headings-color;
  }

}
@import "cv-sections-styles";
@import "cv-media-font-sizes-and-my-image";
@import "cv-media-for-tablet";
@import "cv-media-for-desktops";