$black : #000;
$headings-color : #4d4141;
$orange : #a84625;
$cv-background: #4d4141;
$aside-columns-background : #afe4e4;
$text-color: #4d4141;
$center-columns-background: #f7e7ce;
$block-bottom-line: #4d4141;

body.my-cv{
  @mixin flex($flex-direction,$justify-content,$align-items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
  }
  background-color: $cv-background;
  font-family: 'Source Serif Pro', 'Crimson Text', 'Cormorant Garamond', serif;
  color: $text-color;
  font-size: 0.9rem;

  @media screen and (min-width:54rem) and (max-width: 58rem) {
    font-size: 1rem;
  }
  @media screen and (min-width:58rem) and (max-width: 63rem) {
    font-size: 0.8rem;
  }
  @media screen and (min-width:63rem) and (max-width: 68rem) {
    font-size: 0.9rem;
  }
  @media screen and (min-width:68rem)  {
    font-size: 1rem;
  }




  .cv {
    height: auto;
    &__parts{
      padding: 25px;
      line-height: 1.3rem;
      background-color: #f7e7ce;
      margin: 10px;
    }
  }

  .cv_centralization {
    margin: 0 auto;
  }

  .cv_text-indent {
    text-indent: 1rem;
  }
  .cv_headings {
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 0;
    font-size: 1.1rem;
    color: $headings-color;
  }

  .general-info {
    .my-image {
      &_container {
        text-align: center;
        background-image: url('/images/cv-images/my-picture-grey.jpg');
        @include flex(row,center,center);
        padding: 0;
        width: auto;
        background-size: 100%;
        background-repeat: no-repeat;
//        max-width: 300px;
//        height: 300px;
        margin: 0 auto 20px auto;
        border-radius: 50%;
      }
    }
    .information{}
  }
  @media screen  and (max-width: 48rem){
    .my-image_container {
      max-width: 300px;
      height: 300px;
    }
  }
  @media screen and (min-width:48rem) and (max-width: 71.5rem){
    .my-image_container {
      max-width: 250px;
      height: 250px;
    }
  }
  @media screen and (min-width: 71.5rem) {
    .my-image_container {
      max-width: 300px;
      height: 300px;
    }
  }

  .education{
    &__description {
      &_timeline{
        font-size: 0.8rem;
        font-weight: bold;
      }
      &_nomination {
        font-size: 1.0rem;
        font-weight: bold;
      }
      &_place{

      }
    }
  }
  .experience{
    &__description {
      &_timeline{
        font-size: 0.8rem;
        font-weight: bold;
      }
      &_nomination {
        font-size: 1.0rem;
        font-weight: bold;
      }
      &_place{

      }
      &_duties{

      }
    }
  }
  .techniques {
    &_container{
//        padding-left: 10px;
    }
    &__each{


    }
    &__svg{
      padding: 1px 1px 1px 16px;
      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: left center;
    }
    .html5 {
      background-image: url('/images/svg/techniques/html.svg');
    }
    .css33 {
      background-image: url('/images/svg/techniques/css.svg');
    }
    .sass {
      background-image: url('/images/svg/techniques/sass.svg');
    }
    .layouts {
      background-image: url("/images/svg/techniques/layouts.svg");
    }
    .svg {
      background-image: url('/images/svg/techniques/svg.svg');
    }
    .bootstrap3 {
      background-image: url('/images/svg/techniques/bootstrap3.svg');
    }
    .jss {
      background-image: url('/images/svg/techniques/js.svg');
    }
    .jquery {
      background-image: url('/images/svg/techniques/jquery.svg');
    }
    .react {
      background-image: url('/images/svg/techniques/reactjs.svg');
    }
    .npm {
      background-image: url('/images/svg/techniques/npm.svg');
    }
    .git {
      background-image: url('/images/svg/techniques/git.svg');
    }

  }
  .skills {
    &__list{
      padding-left: 20px;
      list-style-type: disc;
      &_item{
        text-indent: 1rem;
      }
    }
  }
  .languages {
    &_container {
      @include flex(row, center, center);
      flex: no-wrap;
      margin-top: 15px;
    }

    &__each{
      padding-left: 10px;
    }
    &__svg-container {
      width: 50px;
      height: 50px;
    }
    &_uppercase {
      text-transform: uppercase;
      margin-top: 10px;
    }
    &_font-size {
      font-size: 0.8rem;
    }
    .english {
      .languages__svg-container {
        background-image: url('/images/svg/languages/english-part-grey.svg');
      }
      &:hover .languages__svg-container {
        background-image: url('/images/svg/languages/english-part.svg');
      }
    }
    .german{
      .languages__svg-container {
        background-image: url('/images/svg/languages/german-part-grey.svg');
      }
      &:hover .languages__svg-container {
        background-image: url('/images/svg/languages/german-part.svg');
      }
    }
    .russian{
      .languages__svg-container {
        background-image: url('/images/svg/languages/russian-grey.svg');
      }
      &:hover .languages__svg-container {
        background-image: url('/images/svg/languages/russian.svg');
      }
    }

  }
  .hobbies {
    &_container {
      @include flex(row,space-around,center);
      flex-wrap: wrap;
      margin-top: 10px;
    }
    &__each{
      padding: 5px;
    }
    &__svg {
      height: 80px;
      width: 80px;
    }
  }
  .contacts {

    &__details {
      text-indent: 0;

    }
    &_links {
      color: $text-color;
    }
    &_text-bold {
      font-weight: bold;
    }
  }
  .projects {
//    padding: 0;
    height: 250px;
    &__container {
//      background-size: 600px 600px;
      background-size: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
    }
  }
  .prj-calender {
//    padding: 0;
    &_img {
      background-image: url('/images/projects-img/prj-calender-grey.jpg');
    }
    &:hover .prj-calender_img {
      background-image: url('/images/projects-img/prj-calender.jpg');
    }
  }
  .prj-form-c13 {
    &_img {
      background-image: url('/images/projects-img/prj-form-c13-grey.jpg');
    }
    &:hover .prj-form-c13_img {
      background-image: url('/images/projects-img/prj-form-c13.jpg');
    }
  }
  .prj-mobile {
    &_img {
      background-image: url('/images/projects-img/prj-mobile-grey.jpg');
    }
    &:hover .prj-mobile_img {
      background-image: url('/images/projects-img/prj-mobile.jpg');
    }
  }
  .prj-to-do-app {
    &_img {
      background-image: url('/images/projects-img/prj-to-do-app-grey.jpg');
    }
    &:hover .prj-to-do-app_img {
      background-image: url('/images/projects-img/prj-to-do-app.jpg');
    }
  }
  .prj-react-ingredients {
    &_img {
      background-image: url('/images/projects-img/prj-react-ingredients-grey.jpg');
    }
    &:hover .prj-react-ingredients_img {
      background-image: url('/images/projects-img/prj-react-ingredients.jpg');
    }
  }
  .prj-game {
    &_img {
      background-image: url('/images/projects-img/prj-game-grey.jpg');
    }
    &:hover .prj-game_img {
      background-image: url('/images/projects-img/prj-game.jpg');
    }
  }
  .prj-calculator {
    &_img {
      background-image: url('/images/projects-img/prj-calculator-grey.jpg');
    }
    &:hover .prj-calculator_img {
      background-image: url('/images/projects-img/prj-calculator.jpg');
    }
  }




}

@import "cv-media-for-tablet";
@import "cv-media-for-desktops";