.contacts {
  &_intro {
    font-size: 25px;
  }

  &_intro_second {
    font-size: 20px;
  }

  &_details {
    line-height: 1;

    span {
      font-size: 0.8rem;
      font-weight: bold;
      color: $primary-pink;

      a {
        text-underline: none;
        color: $primary-pink;

        &:hover {
          color: $primary-pink;
        }
      }
    }
  }
}

.hobbies {
  background-color: $primary-pink-dark;

  .cv_headings {
    color: $primary-pink-light;
  }

  &__svg {
    height: 70px;
    width: 70px;

    path {
      color: white;
      background-color: white;
    }
  }
}

.education,
.experience {
  &__description {
    &_timeline{
      font-size: 0.8rem;
      font-weight: bold;
      color: $primary-pink;
    }
    &_nomination {
      font-size: 1.0rem;
    }
  }
}

.techniques {
  &__svg{
    padding: 1px 1px 1px 16px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: left center;
  }

  $list-of-svgs : (html, css33, sass, layouts, svg, bootstrap3, jss, jquery, react, npm, git);
  @each $name in $list-of-svgs {
    .#{$name} {
      background-image: url('/images/svg/techniques/#{$name}.svg');
    }
  }

  $list-of-pngs : (less, php, symfony);
  @each $name in $list-of-pngs {
    .#{$name} {
      background-image: url('/images/svg/techniques/#{$name}.png');
    }
  }
}

.skills {
  &__list{
    list-style-type: disc;
  }
}

.projects {
  width: 200px;

  &__used-techniques {
    margin-bottom: 4px;
    text-align: center;
  }

  &__container {
    height: 160px;
    background-size: 120%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    transition: background-image 0.5s ease-in;
  }
}

$prj-names : (prj-bright-food, prj-online-shop, prj-calender, prj-messanger, prj-shipments);
@each $prj-name in $prj-names {
  .#{$prj-name} {
    a {
      background: url('/images/projects-img/#{$prj-name}.jpg') no-repeat -9999px -9999px ;
    }
    &_img {
      background-image: url('/images/projects-img/#{$prj-name}-grey.jpg');
    }
    &:hover .#{$prj-name}_img {
      background-image: url('/images/projects-img/#{$prj-name}.jpg') ;
    }
  }
}
