body.my-cv {

  .general-info {
    .my-image {
      &_container {
        text-align: center;
        padding: 0;
        width: auto;
        background-image: url('/images/cv-images/my-picture-grey.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0 auto 20px auto;
        border-radius: 50%;
      }
    }
  }
  .education{
    &__description {
      &_timeline{
        @extend %timeline;
      }
      &_nomination {
        @extend %nomination;
      }
    }
  }
  .experience{
    &__description {
      &_timeline{
        @extend %timeline;
      }
      &_nomination {
        @extend %nomination;
      }
    }
  }
  .techniques {
    &__svg{
      padding: 1px 1px 1px 16px;
      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: left center;
    }
    $list-of-names : (html,css33,sass,layouts,svg,bootstrap3,jss,jquery,react,npm,git);
    @each $name in $list-of-names {
      .#{$name} {
        background-image: url('/images/svg/techniques/#{$name}.svg');
      }
    }
  }
  .skills {
    &__list{
      padding-left: 16px;
      list-style-type: disc;
      &_item{
        text-indent: 1rem;
        span {
//          position: relative;
          left: -10px;
        }
      }
    }
  }
  .languages {
    &_container {
      @include flex(row, center, center);
      flex: no-wrap;
      margin-top: 15px;
    }
    &__each{
      padding-left: 10px;
    }
    &__svg-container {
      width: 50px;
      height: 50px;
    }
    &_uppercase {
      text-transform: uppercase;
      margin-top: 10px;
    }
    &_font-size {
      font-size: 0.8rem;
    }
    .english {
      .languages__svg-container {
        background-image: url('/images/svg/languages/english-part-grey.svg');
      }
      &:hover .languages__svg-container {
        background-image: url('/images/svg/languages/english-part.svg');
      }
    }
    .german{
      .languages__svg-container {
        background-image: url('/images/svg/languages/german-part-grey.svg');
      }
      &:hover .languages__svg-container {
        background-image: url('/images/svg/languages/german-part.svg');
      }
    }
    .russian{
      .languages__svg-container {
        background-image: url('/images/svg/languages/russian-grey.svg');
      }
      &:hover .languages__svg-container {
        background-image: url('/images/svg/languages/russian.svg');
      }
    }
  }
  .hobbies {
    &_container {
      @include flex(row,space-around,center);
      flex-wrap: wrap;
      margin-top: 10px;
    }
    &__each{
      padding: 5px;
    }
    &__svg {
      height: 80px;
      width: 80px;
    }
  }
  .contacts {
    &__details {
      text-indent: 0;
    }
    &_links {
      color: $text-color;
    }
    &_text-bold {
      font-weight: bold;
    }
  }
  .projects {
    height: 250px;
    &__used-techniques {
      margin-bottom: 4px;
      text-align: center;
    }
    &__container {
      background-size: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      height: 95%;
      width: 100%;
      transition: background-image 0.5s ease-in;
    }
  }

  $prj-names : (prj-bright-food,prj-online-shop,prj-calender,prj-form-c13,prj-mobile,prj-to-do-app,prj-game);
  @each $prj-name in $prj-names {
    .#{$prj-name} {
      a {
        background: url('/images/projects-img/#{$prj-name}.jpg') no-repeat -9999px -9999px ;
      }
      &_img {
        background-image: url('/images/projects-img/#{$prj-name}-grey.jpg');
      }
      &:hover .#{$prj-name}_img {
        background-image: url('/images/projects-img/#{$prj-name}.jpg') ;
      }
    }
  }

}
