
  $black : #000;
  $headings-color : #4d4141;
  $orange : #a84625;
  $cv-background: #4d4141;
  $aside-columns-background : #afe4e4;
  $text-color: #4d4141;
  $center-columns-background: #f7e7ce;
  $block-bottom-line: #4d4141;

  @mixin flex($flex-direction,$justify-content,$align-items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
  }
  %timeline {
    font-size: 0.8rem;
    font-weight: bold;
  }
  %nomination {
    font-size: 1.0rem;
    font-weight: bold;
  }
