{% extends "layouts/layout.html.twig" %}

{% block title %}
Little numbers game
{% endblock %}

{% block bodyClass %}
    main-in-numbers
{% endblock %}

{% block jsDifferent %}
    {#<script src="{{ asset('js/numbers-game.js') }}" ></script>#}
{% endblock %}

{% block content %}
<div id="main-div">
    <div id="centre">
        <div id="first">
            <button type="button" id="beginning-button">Start</button>
            <p id="instruction">
                Starting with number "1", click on the next number until you reach the last one. Time is limited to 10 seconds. If you do not manage time, then you lose.
            </p>
        </div>
        <div id="second">
            <p id="time-left">
                Time left:<span id="seconds">10</span>
            </p>
            <div id="centralization">
                <div id="game-board">
                    <div class="row">
                        <div class="cell initial-color" id="c1"></div>
                        <div class="cell initial-color" id="c2"></div>
                        <div class="cell initial-color" id="c3"></div>
                    </div>
                    <div class="row">
                        <div class="cell initial-color" id="c4"></div>
                        <div class="cell initial-color" id="c5"></div>
                        <div class="cell initial-color" id="c6"></div>
                    </div>
                    <div class="row">
                        <div class="cell initial-color" id="c7"></div>
                        <div class="cell initial-color" id="c8"></div>
                        <div class="cell initial-color" id="c9"></div>
                    </div>
                </div>
            </div>
            <input type="button" name="new-game" value="Start again" id="new-game"/>

        </div>

    </div>
</div>

{% endblock %}