body.todo {
  #footer{}
  #button_to_add{
    text-align: right;
  }
  #new_item {
    background-color:#d7666b;
    border-radius: 5px;
    border: 1px outset Grey;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 15px;
    font-size: 1.1rem;
  }
  #form_to_add {
    padding-bottom:20px;
    display: none;
  }
  #item_description{
    background-color:#617280;
    border-radius: 5px;
    color: Black;
    font-size: 1.1rem;
    height: 25px;
    outline: none;
  }
  #item_description::-webkit-input-placeholder {
    color: #24384a;
  }
  #button_to_submit {
    font-size: 1rem;
    text-align: right;
    //
    background-color:#d7666b;
    border-radius: 5px;
    border: 1px outset Grey;
    height: 30px;
    font-size: 1.1rem;
    &:hover{
      background-color: Black;
      color: White;
    }
  }
  #total_summa {
    position: fixed;
    bottom: 40px;
    right: -100px;
    background: linear-gradient(to top, #d7666b, #ec8b68);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 7px Yellow;
    white-space: no-wrap;
  }
}
