.chosen-products {
  &_padding {
    padding: 20px 40px 40px 40px;
    margin-top: 65px;
  }
  &__products {
    @include flexbox(row, flex-start,center);
    flex-wrap: wrap;
    min-height: 100px;
    .products {
      margin: 0 20px;
    }
  }
}