{% extends "layouts/layout.html.twig" %}

{% block title %}
    tic-tac-toe on React.js
{% endblock %}

{% block stylesheets %}
    <link href="css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block bodyClass %}
    tic-tac-toe
{% endblock %}

{% block content %}
    <div class="tic-tac-toe-div"></div>
{% endblock %}

{% block jsDifferent %}{% endblock %}