{% extends "layouts/layout.html.twig" %}

{% block title %}
   Study Book CSS

{% endblock %}

{% block additionalLinks %}
   {#<link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">#}

    <link href="https://fonts.googleapis.com/css?family=Courgette|Indie+Flower|Pacifico" rel="stylesheet">
{% endblock %}

{% block bodyClass %}
    basics
{% endblock %}


{% block content %}
    <div id="app">

    </div>



{% endblock %}

{% block jsDifferent %}


{% endblock %}