<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        {% block additionalLinks %}{% endblock %}


    </head>
    <body class="{% block bodyClass %}{% endblock %}">
        {% block content %}{% endblock %}

        <script src="{{ asset('js/vendor/jquery.min.js') }}" ></script>
        <script src="{{ asset('js/vendor/modernizr-custom.js') }}"></script>
        <script src="{{ asset('js/main.js') }}" ></script>

        {% block jsDifferent %}{% endblock %}

    </body>
</html>
