<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - My Silex Application</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('js/vendor/jquery.min.js') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('js/main.js') }}" rel="stylesheet" type="text/css" />


    </head>
    <body>
        {% block content %}{% endblock %}

        <script></script>
    </body>
</html>
