// colors
$white: #FFFFFF;
$black: #000000;
$beige: #d9bf8f;
$slight-orange: #f09d66;
$orange: #feab12;
$grey: #707070;
$grey-light: #F5F5F5;
$grey-for-footer: #616161;

//fonts
$font-for-headings: 'IM Fell Double Pica', serif;
$font-size: 15px;
