// colors

$white-fonts : #FFF;
$black-fonts : #000;
$beige-for-support: #d9bf8f;
$slight-orange: #f09d66;
$grey: #707070;

//paddings

$padding-for-centre : 20px;

$padding-for-centre-media: 10px;

$padding-for-centre-big-media: 0;

//fonts
$font-for-headings: 'IM Fell Double Pica', serif;

//footer

$grey-for-footer: #323030;

