// colors

$white-fonts : #FFF;
$black-fonts : #000;
$beige-for-support: #d9bf8f;
$slight-orange: #f09d66;

//paddings

$padding-for-centre : 50px;

//fonts
$font-for-headings: 'IM Fell Double Pica', serif;
