{% extends "layouts/layout.html.twig" %}

{% block title %}
    CV
{% endblock %}


{% block content %}
    <h1>Anastasiia Rubinchik CV</h1>

    {{ include('todo/button.html.twig') }}
{% endblock %}

