{% extends "layouts/layout.html.twig" %}

{% block title %}
    Bright food
{% endblock %}

{% block additionalLinks %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <script defer src="/js/vendor/fontawesome-all.min.js"></script>
{% endblock %}


{% block bodyClass %}
    bright-food
{% endblock %}

{% block content %}
<div id="application"></div>
{% endblock %}



