.page-footer {
  width: 100%;
  &_grey {
    background-color: #f7f6f2;
    position: relative;
    height: 520px;
    #granat {
      position: absolute;
      left: 0;
      bottom:-2px;
      img {
        width: 200px;
      }
    }
    #salat {
      position: absolute;
      right: 0;
      top: -80px;
      img {
        width: 150px;
      }
    }
  }
  &_white {
    padding: 30px;
    width: 850px;
    margin: auto;
  }
  &_width {
    margin: 0 auto;
    padding-top: 70px;
    width: 850px;
  }
  &__subscribe {
    @include flexbox(row,space-between, center);
    &_text {
      text-align: left;
      &_join {
        text-transform: uppercase;
        font-size: 0.6rem;
        letter-spacing: 2px
      }
      &_sub {
        font-size: 1.5rem;
        line-height: 1.5rem;
        span:last-child{
          @extend %font-bold;
        }
      }
    }
    %input-style {
      border: none;
      outline: none;
      padding: 12px 30px;
      border-radius: 999px;
    }
    form {
      input[type="email"]{
        background-color: $font-white;
        color: $font-black;
        @extend %input-style;
        width: 350px;
        margin-right: 20px;
        &::placeholder {
          color: $font-grey;
        }
        &:focus {
          box-shadow: 0px 0px 10px 2px $font-grey;
        }
      }
      input[type="submit"]{
        background-color: $green;
        color: $font-white;
        @extend %input-style;
        &:active {
          //box-shadow: 0px 0px 10px 2px  $green;
          transform: scale(0.95);
        }
      }
    }

  }
  &__menu {
    @include flexbox(row, center, flex-start);
    text-align: left;
    padding: 50px 0;
    &_map,&_information, &_account {
      padding-left: 12px;
    }
    &_connect, &_map {
      flex: 2;
    }
    &_information, &_account {
      flex: 1;
    }
    &_text {
      font-size: 0.65rem;
      line-height: 1rem;
    }
    &_stay-connected {
      font-size: 0.9rem;
      &_address {
      }
      &_email {
        a {
          text-decoration: none;
        }
      }
      &_website {
        a {
          text-decoration: none;
          font-weight: bold;
          color: $green;
        }
      }
      .fa-map-marker, .fa-envelope, .fa-phone-square {
        padding-right: 8px;
        color: #2e2e2e;
      }
    }
    &_logo {
      font-size: 1.2rem;
      position: relative;
      font-family: Verdana, serif;
      #logo2 {
        @extend %font-bold;
      }
      #leaf-for-log {
        width: 14px;
        position: absolute;
        top: -19px;
        left: 40px;
      }
    }
    &_header {
      span:last-child {
        @extend %font-bold;
      }
    }
    &_green-line {
      height: 10px;
      width: 30px;
      border-bottom: 3px solid $green;
    }
    &_list {
      font-size: 0.9rem;
      .fa-arrow-alt-circle-right {
        color: $font-grey;
        padding-right: 3px;
      }
      li:hover {
        font-weight: bold;
        color: $green;
        .fa-arrow-alt-circle-right {
          color: $font-black;
        }
      }
    }
    &_location {
      #map {
        height: 100%;
      }
    }
    &_logo, &_header {
      height: 30px;
    }
    &_stay-connected, &_list, &_location {
      @include flexbox(column, space-around, flex-start);
      height: 200px;
      padding-top: 15px;
    }
  }
  &__total-footer {
    @include flexbox(row,space-between,center);
    font-size: 0.9rem;
    &_year {
      color: $font-grey;
    }
    &_last-menu {
      width: 50%;
      @include flexbox(row,space-between,center);
      &_item {
        @include flexbox(column,center,center);
        //padding: 0 14px;
        position:relative;
        cursor: pointer;
        font-weight: bold;

        a {
          color: $font-grey;
          &:hover {
            color: $font-black;
          }
        }
        &_green-circle {
          height:1px;
          width: 1px;
          opacity: 0;
          background-color: $green;
          border-radius: 50%;
          position: absolute;
          top: 18px;
          transition: width 0.3s, height 0.3s;
        }

        &:hover .page-footer__total-footer_last-menu_item_green-circle {
          opacity: 1;
          height:7px;
          width: 7px;
        }
      }
    }
  }

}

