{% extends "layouts/layout.html.twig" %}

{% block title %}
    Small calender
{% endblock %}

{% block additionalLinks %}
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
{% endblock %}

{% block bodyClass %}
    calender
{% endblock %}

{% block content %}
    <div id="center">
        <div id="calender-view">
            <div id="first-line">
                <div id="global-date">
                    <p id="left-side">
                        <span id="year"></span>
                        <span id="month"></span>
                    </p>
                </div>
                <div id="rifles">
                    <div id="to-left">
                        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                    </div>
                    <div id="to-right">
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div id="second-line">
                <div class="weekday">Mo</div>
                <div class="weekday">Tu</div>
                <div class="weekday">We</div>
                <div class="weekday">Th</div>
                <div class="weekday">Fr</div>
                <div class="weekday">Sa</div>
                <div class="weekday">Su</div>
            </div>
            <div id="third-line">

            </div>
        </div>
    </div>

{% endblock %}

{% block jsDifferent %}
    <script src="https://use.fontawesome.com/2f3047ef18.js"></script>    <!--where can i find the adress?-->
    {#<script src="{{ asset('js/calender-second-version.js') }}" ></script>#}

{% endblock %}


