{% extends "layouts/layout.html.twig" %}

{% block title %}
    Book c13 overall forms
{% endblock %}

{% block additionalLinks %}{% endblock %}

{% block bodyClass %}
    c13
{% endblock %}

{% block content %}

    <form method="POST" name="registration" novalidate>
        <div class="container">
            <div id="first-colomn" class="columnn">
                <header id="header">Become a member </header>
                <p id="text">Welcome to the Super 8 Film Society. We are a group of film enthusiasts who meet up each month to watch old movies on film, in our own private cinema. We also create our own short film each year, which is entered into film competitions worldwide.</p>
            </div>

            <div id="second-colomn" class="columnn">

                <h2 class="headings"> Settings  </h2>
                <div class="block">
                    <label for="name" class="label">
                        Name:
                        <span class="required">*</span>
                    </label>
                    <input class="inputs" id="name" name="name" type="text" maxlength=30 placeholder="Enter your name" autocomplete="name" required/>
                </div>

                <div class="block">
                    <label for="email"  class="label">
                        Email:
                        <span class="required">*</span>
                    </label>
                    <input class="inputs"  id="email" name="email" type="email" placeholder="email@example.com" required/>
                </div>


                <div class="block">
                    <label for="password"  class="label">
                        Password
                        <span class="required">*</span>
                    </label>
                    <input class="inputs"  id="password" name="password" type="password" maxlength=30 autocomplete="off" required/>

                </div>

                <div class="block">
                    <label for="confpassword"  class="label">
                        Confirm password
                        <span class="required">*</span>
                    </label>
                    <input class="inputs"  id="confpassword" name="confpassword" type="password" maxlength=30 autocomplete="off" required/>

                </div>

            </div>

            <div id="third-colomn" class="columnn">

                <h2 class="headings"> Profile </h2>

                <div class="block">
                    <label for="birthday" class="label">
                        Birthday:
                        <span class="required">*</span>
                    </label>
                    <input class="inputs" id="birthday" name="birthday" type="date" placeholder="yyyy-mm-dd" required/>
                </div>

                <div class="block">
                    <div class="show-when-small">
                        <label for="smallers" class="label" id="wrap">
                            <span class="required">*</span>
                            You need a parent's permission to join. Tick here if your child can join:
                        </label>
                        <input class="inputs" id="smallers" name="smallers" type="checkbox"/>
                    </div>
                </div>

                <div class="block">
                    <label for="shortstory" class="label">
                        Short Bio (max 140 characters):
                    </label>
                    <textarea class="inputs" id="shortstory" name="shortstory" maxlength=140></textarea>
                    <span class="symbols-left">140</span>
                </div>

                <div id="final">
                    <input class="final-button" id="reset" name="reset" value="Reset" type="reset"/>
                    <input class="final-button"  id="submit" name="submit" value="Register" type="submit"/>
                </div>

            </div>
        </div>

    </form>




{% endblock %}

{% block jsDifferent %}
    <script src="https://use.fontawesome.com/2f3047ef18.js"></script>
    <script src="{{ asset('js/c13.js') }}" ></script>
{% endblock %}