body.lesson-third{
  margin-top: 8px;

  #game {
    width: 800px;
    margin: auto;
  }
  #central {
    text-align: center;
    border: 1px dashed black;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  #start {
    #explanation {
      margin: 5px;
    }
  }
  #follow {
    display: none;
  }
  #time{}
  #game-table{
    margin-top: 20px;
    margin-bottom: 20px;

    .row {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      line-height: 60px;

      .element {
        width: 60px;
        height: 60px;
        border: 1px solid Black;
        font-size: 3em;

        user-select: none;
      }
    }
  }
  #create-new-game {}
  .red {
    background: red;
  }

}