{% extends "layouts/layout.html.twig" %}

{% block title %}
    react-searching-form
{% endblock %}

{% block additionalLinks %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui">
{% endblock %}


{% block bodyClass %}
    react-searching-form
{% endblock %}

{% block content %}
    <div class="searching-form"></div>
{% endblock %}
