{% extends "layouts/layout.html.twig" %}

{% block title %}
    Lesson third
{% endblock %}

{% block bodyClass %}
    lesson-forth
{% endblock %}

{% block jsDifferent %}
    <script src="{{ asset('js/lesson-forth.js') }}" ></script>

{% endblock %}

{% block content %}
  <div id="new-el"></div>


{% endblock %}
