.first-page-slider {
  %slider-buttons-design {
    font-size: 4.5vw;

    &[disabled] {
      display: none;
    }

    &:hover::before {
      color: $slight-orange;
    }

    &::before {
      color: $grey;
      text-shadow: 0 1px 1px #1a1a1a;
    }
  }

  .image-gallery-left-nav {
    @extend %slider-buttons-design;

    &::before {
      content: "⮜";
    }
  }

  .image-gallery-right-nav {
    @extend %slider-buttons-design;

    &::before {
      content: "⮞";
    }
  }
}

@include media-breakpoint-only(xs) {
  .first-page-slider .image-gallery-slide{
    transform: scale(1.5) !important;
    margin: 50px 0;
  }
}