.first-page-collection {
  &_padding {
    @include media-breakpoint-only(xl) {
      border: 1px solid $beige;
    }
  }

  .additional-wrapper-for-image {
    width: 250px;
  }

  &__article {
    background-repeat: no-repeat;
    background-position: center center;
    height: 340px;;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    max-width: 300px;

    &_for-add-button {
      opacity: 0;
      transition: opacity 0.5s;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }

    &:hover .first-page-collection__article_for-add-button{
      opacity: 0.85;
    }

    &_reduction {
      position: absolute;
      height: 45px;
      width: 45px;
      background-color: $orange;
      border-radius: 50%;
      top: 10px;
      left: 10px;

      &_percentage {
        line-height: 45px;
        color: $white;
      }
    }

    &_trapezium {
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 40px solid $slight-orange;

      @include media-breakpoint-up(md) {
        width: 65% !important;
      }
    }

    &_add {
      position: absolute;
      line-height: 40px;
    }
  }
}
