.first-page-brands {
  &_container {
    background-color: $grey-light;
    height: 150px;

    @include media-breakpoint-between(xs, md) {
      height: auto;
    }
  }

  $brands: bakery, harvest, home-energy, landlock, lavalier, spectrum;
  @each $icon in $brands {
    .#{$icon}{
      background-image: url("/images/online-shop/brands/#{$icon}.png");
    }
  }

  &__name {
    background-repeat: no-repeat;
    background-position: center;
    height: 20vw;
    width: 45vw;
    background-size: 100px;
    max-width: 200px;

    @include media-breakpoint-up(sm) {
      background-size: 125px;
    }

    @include media-breakpoint-up(lg) {
      height: 10vw;
      width: 8vw;
      background-size: 8vw;
      max-width: unset;
    }
  }
}