.first-page-slider {
  &__image-container img{
    width: 100%;
  }

  &_central-message {
    left: 1vw;
    width: 15vw;
    z-index: 1;
    max-height: 700px;
    height: 40vw;
    top: 18vw;

    @include media-breakpoint-only(xs) { top: 250px; }
    @include media-breakpoint-up(md) { height: 36vw; }
    @include media-breakpoint-up(xl) { height: 26vw; }
  }

  &__discounts {
    border: 1px solid $white;
    box-shadow: 0 0 0 6px #7a7571, 0 0 0 9px $white;
    border-radius: 2px;
    box-sizing: padding-box;
    height: 14vw;
    width: 14vw;
    max-width: 12rem;
    max-height: 12rem;
    min-width: 100px;
    min-height: 100px;

    //fonts styles for central &_central-message
    .discounts-season {
      margin-top: 1vw;
      color: $white;
      letter-spacing: 0.07rem;
      font-size: 0.6rem;

      @include media-breakpoint-up(md) { font-size: 1.2vw;}
      @include media-breakpoint-up(xl) { font-size: 1.2rem;}
    }

    .discounts-sale {
      font-size: 2rem;

      @include media-breakpoint-up(md) { font-size: 4vw;}
      @include media-breakpoint-up(xl) { font-size: 3rem;}
    }

    .discounts-third-line {
      @include flexbox(row, space-evenly);

      p {
        color: $white;

        font-size: 0.4rem;
        @include media-breakpoint-up(md) { font-size: 1.2vw;}
        @include media-breakpoint-up(xl) { font-size: 1rem;}
      }

      &_bottom-line {
        height: 1.2vw;
        width: 3vw;
        border-bottom: 1px solid $white;
        margin-top: -5px;
      }

      &_smaller-container {
        height: 0.7vw;
        width: 2vw;
        border-bottom: 1px solid $white;
      }

      &_left  {
        @extend .discounts-third-line_smaller-container;
        margin-left: 1vw;
      }
    }

    .discounts-number {
      font-size: 0.6rem;

      @include media-breakpoint-up(md) { font-size: 2vw;}
      @include media-breakpoint-up(xl) { font-size: 1rem;}
    }
  }

  //TODO: check onclick styles
  &__shop-button{
    background-color: $slight-orange;
    color: $white;
    max-width: 13rem;
  }

  &__slider-changer{
    width: 100px;

    &_romb{
      height: 10px;
      width: 10px;
      transform: rotate(45deg);
      background-color: $grey;
    }

    &_black{
      background-color: $black;
    }
  }
}