.page-footer {
  background-color: $black-fonts;
  color: $white-fonts;
  //height: 200px;
  width: 100%;

  &__upper {
    padding: 10px $padding-for-centre;
    @include flexbox(row,space-evenly, flex-start);
      &_navigation {
        flex: 6;
        @include flexbox(row, flex-start, flex-start);

        &_column {
          @include flexbox(column, flex-start, flex-start);
          font-family: 'Arial', serif;
          width: 20vw;


        }
      }
      &_stay-connected {
        flex: 4;
        @include flexbox (column,flex-start,flex-start)
        //border: 1px solid white;
        &_sub {
          height: 40%;
        }
        &_form {
          padding: 25px 0;
          &_container {
            border: 1px solid $grey-for-footer;
            padding:5px;
          }

        }

      }
    }

  .headings {
    text-transform: uppercase;
    line-height: 35px;
    padding: 10px 0;
    text-align: left;
    i {
      text-transform: lowercase;
      font-family: $font-for-headings;
    }
  }
  .items {
    line-height: 2rem;
    font-size: 0.8rem;
    color: $grey-for-footer;
    font-weight: bold;
  }
  .icons {
    @include flexbox(row, flex-start);
    padding: 25px 0;
  }
  $icons-media : facebook, twitter, instagram, pinterest, wifi;
  @each $icon in  $icons-media {
    .icons_#{$icon} {
      background-image: url("/images/online-shop/footer/#{$icon}.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      margin-right: 20px;
    }
  }
  #subscribe_email {
    background-color: $black-fonts;
    border: none;
    outline: none;
    color: $white-fonts;
  }
  #subscribe_submit {
    color: $white-fonts;
    background-color: $grey-for-footer;
    border: none;
    height: 30px;
    width: 100px;
    outline: none;
  }



  &__lower {
    padding: 10px $padding-for-centre;
    &_border-top {
      border-top: 1px solid $grey-for-footer;
    }
  }
}