.page-footer {
  //@extend %to-centre;
  background-color: $black-fonts;
  color: $white-fonts;
  width: 100%;
  height: auto;
  max-width: none;

  .to-centre {
    @extend %to-centre;
    @include flexbox(column, flex-start, unset);
  }

  &__upper {
    padding: 10px $padding-for-centre;
    @include flexbox(row,space-evenly, flex-start);
      &_navigation {
        flex: 6;
        @include flexbox(row, flex-start, flex-start);

        &_column {
          @include flexbox(column, flex-start, flex-start);
          font-family: 'Arial', serif;
          width: 20vw;
          max-width: 350px;
          min-width: 115px;
        }
      }
      &_stay-connected {
        width: 0;
        flex: 4 ;
        @include flexbox (column,flex-start,flex-start)
        //border: 1px solid white;
        &_sub {
          height: 40%;
        }
        &_form {
          padding: 25px 0;
          &_container {
            border: 1px solid $grey-for-footer;
            padding:5px;
          }
        }
      }
    }

  .headings {
    text-transform: uppercase;
    line-height: 35px;
    padding: 10px 0;
    text-align: left;
    i {
      text-transform: lowercase;
      font-family: $font-for-headings;
    }
  }
  .items {
    line-height: 2rem;
    font-size: 0.8rem;
    color: $grey-for-footer;
    font-weight: bold;
    &:hover {
      color: $white-fonts
    }
  }
  .icons {
    @include flexbox(row, flex-start);
    padding: 25px 0;
  }
  $icons-media : facebook, twitter, instagram, pinterest, wifi;
  @each $icon in  $icons-media {
    .icons_#{$icon} {
      background-image: url("/images/online-shop/footer/#{$icon}.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 42px;
      width: 42px;
      margin-right: 1vw;
    }
  }
  #subscribe_email {
    background-color: $black-fonts;
    border: none;
    outline: none;
    color: $white-fonts;
  }
  #subscribe_submit {
    color: $white-fonts;
    background-color: $grey-for-footer;
    border: none;
    height: 30px;
    width: 100px;
    outline: none;
  }

  &__lower {
    //padding: 10px 0;
    padding: 10px $padding-for-centre;
    width: 100%;
    box-sizing: border-box;

    &_border-top {
      border-top: 1px solid $grey-for-footer;
      //@include flexbox(column, flex-start, flex-start);
    }
    &_text {
      color: $grey-for-footer;
      font-size: 0.7rem;
      padding: 5px 0;
      line-height: 0.9rem;
      text-align: left;
    }
    &_payments  {
      text-align: left;
      img {
        height: 20px;
        padding-right: 5px;
      }
    }
  }
}


@media (max-width: 800px){
  .page-footer {
    &__upper {
      padding: 10px $padding-for-centre-media;
      @include flexbox(column, space-evenly, flex-start);
      &_navigation {
        width: 100%;
        margin-bottom: 10px;
        @include flexbox(row, space-around, flex-start);
        &_column {
          width: 27vw;
          .headings {
            height: 45px;
          }
        }
      }
      &_stay-connected {
        width: 100%;
        &_form {
          padding: 10px 0;
          //width: 80%;
        }
      }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        &_navigation {
         flex: 6 1 auto;
        }
        &_stay-connected {
          flex: 4 1 auto;
        }
      }
    }
    &__lower {
      padding: 10px $padding-for-centre-media;
    }
    .headings {
      line-height: 20px;
      padding: 0;
      font-size: 0.9rem;
      //height: 60px;
    }
    .items {
      line-height: 1.2rem;
      text-align: left;
      //font-size: 0.8rem;
    }
    .icons {
      padding: 14px 0;
      & > a {
        width: 42px;
        padding-right: 10px;
      }
    }
  }
}