.page-header{
  font-family: "Bitter", serif;
  //@extend %to-centre;
  width: 100%;
  max-width: none;

  .to-centre {
    @extend %to-centre;
    @include flexbox(row,space-between);
  }

  &__upper-menu{
    background-color: #F5F5F5;
    //@include flexbox(row,space-between);
    font-size: 0.75rem;
    padding: 10px $padding-for-centre;
    &_block {

      &:nth-child(2) {
        margin-left: auto;
        padding-right: 10px;
      }
      &:first-child ~ * {
        text-transform: uppercase;
      }
      &_border{
        border-left: 1px solid $black-fonts;
        //padding-left: 20px;
        padding: 0 10px;
      }
      &_last-padding{
        padding: 0 0 0 10px;
      }
    }
  }

  &__lower-menu{
    padding: 0 $padding-for-centre;
    //@include flexbox(row,space-between);
    .categories {
      @include flexbox(row,space-between);
      font-family: $font-for-headings;
      width: 300px;
      &__name {
        padding-right: 8px;
        font-size: 1.2rem;
      }
    }
    .page-name {
      font-family: $font-for-headings;
      font-size: 3rem;
      padding: 5px 0 5px 15px;
      letter-spacing: 2px;
      //padding: 5px 5px 5px 5vw;
    }
    .right-side {
      @include flexbox(row,space-between);
      width: 300px;
      &__social-nets {
        @include flexbox(row,space-between);

        &_type {
          padding: 0 2px;
          background-size: 36px 36px;
          background-position: center;
          background-repeat: no-repeat;
          height: 36px;
          width: 36px;
        }
        $social-icons: facebook, twitter, pinterest, instagram;
        @each $icon in $social-icons {
          .#{$icon}{
            background-image: url("/images/online-shop/icons/#{$icon}.png");
          }
        }
      }
      &__select-collection{
        select {
          background-color: $black-fonts;
          color: $white-fonts;
          height: 30px;
          width: 100px;
          text-align: center;
          padding-left: 5px;
          outline: none;
          margin-left: 10px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .page-header{
    .to-centre {
      @include flexbox(column,space-between);
      flex-direction: column-reverse;
    }

    &__upper-menu{
      display: none;
    }
    &__lower-menu{
      //@include flexbox(column,space-between);
      //flex-direction: column-reverse;
      padding: 0;
      .categories {
        width: 100%;
        @include flexbox(row, space-around);
        height: 30px;
        line-height: 30px;
      }
      .right-side {
        display:none;
      }
    }
  }
}

