%padding-left-in-header {
  margin-left: 40px;
}
%font-bold {
  font-weight: bold;
}
%leaf {
  //background {
  //  image :url("/images/bright-food/main-image/small-leaf.png");
  //  repeat: no-repeat;
  //  size: 16px;
  //}
  background-image:url("/images/bright-food/main-image/small-leaf.png");
  background-repeat: no-repeat;
  background-size: 16px;
}

%width {
  min-width: 850px;
  width: 90vw;
  margin: 0 auto;
}

.white-path {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
}