@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexbox($direction: row,$justify-content: flex-start,$align-items: flex-start){
  @include flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}
