// fonts

$font-black: #080808;
$font-grey: #b5b5b5;
$font-white: #FFF;

$slight-grey: #f7f6f2;
$green: #86bf0a;
$blue: #5ec6ce;

$max-width: 850px;


$light-green: #92d2a7;
$background-gradient: linear-gradient(160deg, $light-green, #5ec6ce 80%);