body.todo {
  background-color: Black;
  color: White;
  text-shadow: 2px 2px 1px Black;
  font-size: 16px; }

#main_div {
  background-color: #403c3b;
  width: 480px;
  margin: 20px auto 20px auto;
  text-align: center;
  font-family: "Open Sans", "Times New Roman", serif; }

#header_r {
  font-size: 1.7rem;
  background-color: #403c3b; }

#first_line {
  background-image: url(https://i.pinimg.com/236x/44/17/78/441778b5f0fb528c93dda88692e714a9--cat-tattoo-black-small-cat-tattoos.jpg);
  background-position: center bottom;
  height: 130px;
  width: 130px;
  margin: 10px auto;
  color: #403c3b;
  font-weight: bold;
  text-shadow: none;
  position: relative; }
  #first_line div {
    position: absolute;
    display: block;
    bottom: 10px;
    width: 100%; }

#second_line {
  display: inline-flex; }

#buy {
  text-transform: uppercase;
  margin: 5px;
  letter-spacing: 0.3rem; }

#number_of_lis span {
  background-color: White;
  border-radius: 20px 20px;
  font-size: 1.2rem;
  color: Black;
  padding: 2px;
  vertical-align: bottom; }

body.todo ul {
  display: block;
  list-style-type: none;
  padding: 0px; }
  body.todo ul li {
    text-align: left;
    padding: 5px 20px;
    font-size: 1.2rem; }

body.todo .hot {
  background-color: #d7666b;
  border-top: 1px solid #e99295;
  border-bottom: 1px solid #914141; }

body.todo .orange {
  background-color: #ec8b68;
  border-top: 1px solid #fe9772;
  border-bottom: 1px solid #9f593f; }

body.todo .grey {
  background-color: #617280;
  background-image: url(https://image.flaticon.com/icons/png/128/61/61391.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  width: auto;
  border-bottom: 1px solid #949ca3;
  border-top: 1px solid #4a4e52; }

body.todo #button_to_add {
  text-align: right; }

body.todo #new_item {
  background-color: #d7666b;
  border-radius: 5px;
  border: 1px outset Grey;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 15px;
  font-size: 1.1rem;
  margin-top: 10px; }

body.todo #form_to_add {
  padding-bottom: 20px;
  display: none; }

body.todo #item_description {
  background-color: #617280;
  border-radius: 5px;
  color: Black;
  font-size: 1.1rem;
  height: 25px;
  outline: none;
  margin-top: 10px; }

body.todo #item_description::-webkit-input-placeholder {
  color: #24384a; }

body.todo #button_to_submit {
  font-size: 1rem;
  text-align: right;
  background-color: #d7666b;
  border-radius: 5px;
  border: 1px outset Grey;
  height: 30px;
  font-size: 1.1rem;
  margin-top: 10px; }
  body.todo #button_to_submit:hover {
    background-color: Black;
    color: White; }

body.todo #total_summa {
  position: fixed;
  bottom: 40px;
  right: -100px;
  background: linear-gradient(to top, #d7666b, #ec8b68);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 7px Yellow;
  white-space: no-wrap; }

@media screen and (min-width: 490px) {
  body.todo #button_to_submit {
    margin-left: 100px; } }

@media screen and (max-width: 489px) and (min-width: 340px) {
  body.todo #main_div {
    width: 300px; } }

@media screen and (max-width: 339px) {
  body.todo #main_div {
    width: 100%; }
  body.todo #buy {
    font-size: 0.8rem; }
  body.todo #number_of_lis {
    line-height: 28px; }
    body.todo #number_of_lis span {
      font-size: 0.8rem;
      margin-right: 10px; }
  body.todo #form_to_add {
    display: none; }
  body.todo #item_description {
    width: 50%; } }

@media screen and (max-width: 250px) {
  body.todo {
    min-width: 250px; } }

body.lesson-third {
  margin-top: 8px; }
  body.lesson-third #game {
    width: 800px;
    margin: auto; }
  body.lesson-third #central {
    text-align: center;
    border: 1px dashed black;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; }
  body.lesson-third #start #explanation {
    margin: 5px; }
  body.lesson-third #follow {
    display: none; }
  body.lesson-third #game-table {
    margin-top: 20px;
    margin-bottom: 20px; }
    body.lesson-third #game-table .row {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      line-height: 60px; }
      body.lesson-third #game-table .row .element {
        width: 60px;
        height: 60px;
        border: 1px solid Black;
        font-size: 3em;
        user-select: none; }
  body.lesson-third .red {
    background: red; }

body.main-in-numbers {
  font-size: 16px; }
  body.main-in-numbers p {
    margin: 16px 0; }
  body.main-in-numbers .red {
    background-color: darkred; }
  body.main-in-numbers #main-div {
    height: 738px;
    background-color: lightgoldenrodyellow;
    padding: 30px; }
  body.main-in-numbers #centre {
    height: 100%;
    text-align: center;
    box-shadow: 0 0 15px 5px #FFFFFF;
    box-sizing: inherit; }
  body.main-in-numbers #first #beginning-button {
    margin-top: 20px; }
  body.main-in-numbers #second {
    display: none; }
    body.main-in-numbers #second #time-left {
      padding-top: 20px; }
    body.main-in-numbers #second #centralization {
      display: flex;
      justify-content: center; }
    body.main-in-numbers #second #game-board {
      margin-bottom: 20px;
      border: 1px solid Black;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: max-content;
      border-radius: 5px;
      background-color: #FFF; }
      body.main-in-numbers #second #game-board .row {
        display: flex;
        flex-flow: row; }
      body.main-in-numbers #second #game-board .cell {
        height: 60px;
        width: 60px;
        font-size: 2rem;
        border: 1px solid Black;
        margin: 3px;
        text-align: center;
        border-radius: 5px;
        line-height: 60px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none; }
      body.main-in-numbers #second #game-board .initial-color {
        background-color: lightgoldenrodyellow; }
  @media only screen and (max-width: 1530px) {
    body.main-in-numbers #main-div {
      width: 1200px; } }

body.calender {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  height: 734px;
  margin: 0px;
  padding: 30px;
  background-image: linear-gradient(#7FFFD4, #FFD700), linear-gradient(#000 50%, #FFF 50%), linear-gradient(90deg, #000 50%, #FFF 50%), URL("http://images.all-free-download.com/images/graphiclarge/linen_fabric_background_04_hd_picture_169825.jpg");
  background-blend-mode: screen, difference, exclusion;
  background-repeat: repeat;
  background-size: 100% 100%, 100px 100px, 100px 100px; }
  body.calender .blue {
    color: #0077cc;
    opacity: 0.7; }
  body.calender .current-date {
    color: #FFFFFF;
    background-color: #000000; }
  body.calender #center {
    text-align: -webkit-center;
    margin-top: 270px; }
  body.calender #calender-view {
    text-align: center;
    border: 1px solid Black;
    width: 217px;
    background-color: #FFF; }
  body.calender #first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 45px; }
    body.calender #first-line #global-date {
      padding-left: 10px; }
      body.calender #first-line #global-date #left-side {
        font-size: 1.1rem; }
    body.calender #first-line #rifles {
      padding-right: 8px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 50px; }
      body.calender #first-line #rifles #to-left {
        padding: 4px 10px 4px 4px; }
        body.calender #first-line #rifles #to-left:hover {
          cursor: pointer; }
      body.calender #first-line #rifles #to-right {
        padding: 4px; }
        body.calender #first-line #rifles #to-right:hover {
          cursor: pointer; }
  body.calender #second-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #b9d4eb;
    border-top: 1px solid #4a5c6b;
    border-bottom: 1px solid #4a5c6b;
    line-height: 20px; }
    body.calender #second-line .weekday {
      width: 31px;
      box-sizing: border-box; }
      body.calender #second-line .weekday:hover {
        cursor: pointer; }
  body.calender #third-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; }
    body.calender #third-line .day {
      width: 31px;
      padding: 2px;
      box-sizing: border-box;
      font-size: 1.1rem;
      line-height: 1.4; }
      body.calender #third-line .day:hover {
        color: #FFF;
        background-color: #000;
        cursor: pointer; }

html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul,
ol, li, dl, dt, dd, form, a, fieldset, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

body {
  line-height: 1;
  margin: 8px;
  padding: 0;
  border: 0;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  padding: 0.5em 0;
  margin: 0 10px; }

ul, ol {
  list-style: none; }

img {
  border: 0; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

body.form-nice {
  font-size: 18px;
  background-image: url("https://tinybop.com/img/apps/skyscrapers/investigate.gif"), linear-gradient(to right, #fc7216 0%, #c0c0c0 100%);
  background-blend-mode: overlay; }
  body.form-nice form {
    width: 45%; }
  body.form-nice fieldset {
    border: 8px solid Black;
    border-radius: 10px;
    padding: 6.3px 13.5px 11.25px 13.5px; }
  body.form-nice label, body.form-nice input {
    font-size: 0.95rem;
    margin: 4px 0 4px 0; }
  body.form-nice select {
    height: 22.8px; }
  body.form-nice #submit {
    float: right;
    margin-right: 20px; }

body.c13 {
  font-size: 16px;
  color: #FFF;
  line-height: 1.2rem;
  background-image: url("http://www.parhlo.com/wp-content/uploads/2016/01/1.-Naran-Kaghan-Waterfalls.jpg"), radial-gradient(#78052d, #d7666b);
  background-repeat: inherit;
  background-blend-mode: color-burn;
  height: 750px;
  width: 100%;
  margin: 0;
  box-shadow: inset 0px 21px 73px black; }
  body.c13 .red {
    color: black;
    font-size: 1.2rem; }
  body.c13 .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 750px; }
    body.c13 .container .columnn {
      height: 501px;
      width: 250px;
      background-blend-mode: color;
      background-image: repeating-linear-gradient(to right, #ff0048 5%, #ff4a4a 7%, #ff0048 10%), repeating-linear-gradient(#ff0048 2%, #ff4a4a 3%, #ff0048 5%);
      border: 15px solid #FFFFFF;
      padding: 10px;
      margin: 30px; }
      body.c13 .container .columnn .block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch; }
  body.c13 #first-colomn #header {
    background-image: url("http://javascriptbook.com/code/c13/img/logo.png");
    padding: 235px 20px 0 20px;
    background-repeat: no-repeat;
    background-position: top;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.5rem; }
  body.c13 #first-colomn #text {
    padding: 0 20px;
    margin-top: 10px; }
  body.c13 .headings {
    font-size: 2rem;
    font-weight: normal; }
  body.c13 .label {
    font-size: 1.2rem; }
    body.c13 .label .required {
      color: #78052d; }
  body.c13 .inputs {
    height: 30px;
    font-size: 1.1rem;
    margin-top: 5px;
    text-indent: 2px;
    box-shadow: inset 0 2px 2px black;
    border: none; }
    body.c13 .inputs:focus {
      outline: 0;
      outline-offset: 0; }
  body.c13 .message {
    margin-bottom: 20px;
    font-size: 0.85rem; }
  body.c13 #second-colomn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; }
    body.c13 #second-colomn .cross {
      background-image: url("http://javascriptbook.com/code/c13/img/cross.png");
      background-repeat: no-repeat;
      background-position: center right; }
    body.c13 #second-colomn .check-mark {
      background-image: url("http://javascriptbook.com/code/c13/img/tick.png");
      background-repeat: no-repeat;
      background-position: center right; }
  body.c13 #third-colomn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; }
    body.c13 #third-colomn .show-when-small {
      display: none; }
      body.c13 #third-colomn .show-when-small #smallers {
        height: 12px;
        box-shadow: none;
        margin-bottom: 15px; }
    body.c13 #third-colomn #shortstory {
      height: 100px;
      margin-bottom: 5px; }
      body.c13 #third-colomn #shortstory .symbols-left {
        font-size: 0.95rem; }
    body.c13 #third-colomn #final {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-top: 15px; }
      body.c13 #third-colomn #final .final-button {
        background-color: #000000;
        height: 36px;
        width: 102px;
        font-size: 1.15rem;
        color: #FFF;
        border-radius: 7px;
        border: none;
        margin: -10px 0px 20px 0px;
        white-space: nowrap;
        padding: 5px; }
        body.c13 #third-colomn #final .final-button:focus {
          outline: 0;
          outline-offset: 0; }
  @media screen and (min-width: 851px) and (max-width: 1070px) {
    body.c13 .container {
      flex-wrap: nowrap; }
      body.c13 .container .columnn {
        margin: 0px;
        width: 30%; } }
  @media screen and (min-width: 716px) and (max-width: 850px) {
    body.c13 .container {
      flex-direction: column;
      height: auto;
      flex-wrap: wrap; }
      body.c13 .container .columnn {
        margin: 5px; } }
  @media screen and (min-width: 541px) and (max-width: 715px) {
    body.c13 .container {
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr; }
      body.c13 .container .columnn {
        margin: 0px;
        box-sizing: border-box;
        width: 100%; }
    body.c13 #first-colomn {
      grid-area: 1 / 1 / span 1 / span 2;
      justify-self: center;
      height: 400px;
      background-image: repeating-linear-gradient(to right, #ff0048 3.1%, #ff4a4a 4.2%, #ff0048 5.7%), repeating-linear-gradient(#ff0048 6%, #ff4a4a 7%, #ff0048 10%); }
    body.c13 #second-colomn {
      grid-area: 2 / 1 / span 1 / span 1;
      justify-self: end; }
    body.c13 #third-colomn {
      grid-area: 2 / 2 / span 1 / span 1;
      justify-self: start; } }
  @media screen and (max-width: 540px) {
    body.c13 .container {
      flex-direction: column;
      height: auto;
      flex-wrap: wrap; }
      body.c13 .container .columnn {
        margin: 0px;
        box-sizing: border-box;
        width: 300px; } }
