@charset "UTF-8";
body.lesson-third {
  margin-top: 8px; }
  body.lesson-third #game {
    width: 800px;
    margin: auto; }
  body.lesson-third #central {
    text-align: center;
    border: 1px dashed black;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; }
  body.lesson-third #start #explanation {
    margin: 5px; }
  body.lesson-third #follow {
    display: none; }
  body.lesson-third #game-table {
    margin-top: 20px;
    margin-bottom: 20px; }
    body.lesson-third #game-table .row {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      line-height: 60px; }
      body.lesson-third #game-table .row .element {
        width: 60px;
        height: 60px;
        border: 1px solid Black;
        font-size: 3em;
        user-select: none; }
  body.lesson-third .red {
    background: red; }

body.main-in-numbers {
  font-size: 16px; }
  body.main-in-numbers p {
    margin: 16px 0; }
  body.main-in-numbers .red {
    background-color: darkred; }
  body.main-in-numbers #main-div {
    height: 738px;
    background-color: lightgoldenrodyellow;
    padding: 30px; }
  body.main-in-numbers #centre {
    height: 100%;
    text-align: center;
    box-shadow: 0 0 15px 5px #FFFFFF;
    box-sizing: inherit; }
  body.main-in-numbers #first #beginning-button {
    margin-top: 20px; }
  body.main-in-numbers #second {
    display: none; }
    body.main-in-numbers #second #time-left {
      padding-top: 20px; }
    body.main-in-numbers #second #centralization {
      display: flex;
      justify-content: center; }
    body.main-in-numbers #second #game-board {
      margin-bottom: 20px;
      border: 1px solid Black;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: max-content;
      border-radius: 5px;
      background-color: #FFF; }
      body.main-in-numbers #second #game-board .row {
        display: flex;
        flex-flow: row; }
      body.main-in-numbers #second #game-board .cell {
        height: 60px;
        width: 60px;
        font-size: 2rem;
        border: 1px solid Black;
        margin: 3px;
        text-align: center;
        border-radius: 5px;
        line-height: 60px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none; }
      body.main-in-numbers #second #game-board .initial-color {
        background-color: lightgoldenrodyellow; }
  @media only screen and (max-width: 1530px) {
    body.main-in-numbers #main-div {
      width: 1200px; } }

body.calender {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  height: 734px;
  margin: 0px;
  padding: 30px;
  background-image: linear-gradient(#7FFFD4, #FFD700), linear-gradient(#000 50%, #FFF 50%), linear-gradient(90deg, #000 50%, #FFF 50%), URL("http://images.all-free-download.com/images/graphiclarge/linen_fabric_background_04_hd_picture_169825.jpg");
  background-blend-mode: screen, difference, exclusion;
  background-repeat: repeat;
  background-size: 100% 100%, 100px 100px, 100px 100px; }
  body.calender .blue {
    color: #0077cc;
    opacity: 0.7; }
  body.calender .current-date {
    color: #FFFFFF;
    background-color: #000000; }
  body.calender #center {
    text-align: -webkit-center;
    margin-top: 270px; }
  body.calender #calender-view {
    text-align: center;
    border: 1px solid Black;
    width: 217px;
    background-color: #FFF; }
  body.calender #first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 45px; }
    body.calender #first-line #global-date {
      padding-left: 10px; }
      body.calender #first-line #global-date #left-side {
        font-size: 1.1rem; }
    body.calender #first-line #rifles {
      padding-right: 8px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 50px; }
      body.calender #first-line #rifles #to-left {
        padding: 4px 10px 4px 4px; }
        body.calender #first-line #rifles #to-left:hover {
          cursor: pointer; }
      body.calender #first-line #rifles #to-right {
        padding: 4px; }
        body.calender #first-line #rifles #to-right:hover {
          cursor: pointer; }
  body.calender #second-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #b9d4eb;
    border-top: 1px solid #4a5c6b;
    border-bottom: 1px solid #4a5c6b;
    line-height: 20px; }
    body.calender #second-line .weekday {
      width: 31px;
      box-sizing: border-box; }
      body.calender #second-line .weekday:hover {
        cursor: pointer; }
  body.calender #third-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; }
    body.calender #third-line .day {
      width: 31px;
      padding: 2px;
      box-sizing: border-box;
      font-size: 1.1rem;
      line-height: 1.4; }
      body.calender #third-line .day:hover {
        color: #FFF;
        background-color: #000;
        cursor: pointer; }

html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul,
ol, li, dl, dt, dd, form, a, fieldset, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

body {
  line-height: 1;
  margin: 8px;
  padding: 0;
  border: 0;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  padding: 0.5em 0;
  margin: 0 10px; }

ul, ol {
  list-style: none; }

img {
  border: 0; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

body.form-nice {
  font-size: 18px;
  background-image: url("https://tinybop.com/img/apps/skyscrapers/investigate.gif"), linear-gradient(to right, #fc7216 0%, #c0c0c0 100%);
  background-blend-mode: overlay; }
  body.form-nice form {
    width: 45%; }
  body.form-nice fieldset {
    border: 8px solid Black;
    border-radius: 10px;
    padding: 6.3px 13.5px 11.25px 13.5px; }
  body.form-nice label, body.form-nice input {
    font-size: 0.95rem;
    margin: 4px 0 4px 0; }
  body.form-nice select {
    height: 22.8px; }
  body.form-nice #submit {
    float: right;
    margin-right: 20px; }

body.c13 {
  font-size: 16px;
  color: #FFF;
  line-height: 1.2rem;
  background-image: url("http://www.parhlo.com/wp-content/uploads/2016/01/1.-Naran-Kaghan-Waterfalls.jpg"), radial-gradient(#78052d, #d7666b);
  background-repeat: inherit;
  background-blend-mode: color-burn;
  height: 750px;
  width: 100%;
  margin: 0;
  box-shadow: inset 0px 21px 73px black; }
  body.c13 .red {
    color: black;
    font-size: 1.2rem; }
  body.c13 .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 750px; }
    body.c13 .container .columnn {
      height: 501px;
      width: 250px;
      background-blend-mode: color;
      background-image: repeating-linear-gradient(to right, #ff0048 5%, #ff4a4a 7%, #ff0048 10%), repeating-linear-gradient(#ff0048 2%, #ff4a4a 3%, #ff0048 5%);
      border: 15px solid #FFFFFF;
      padding: 10px;
      margin: 30px; }
      body.c13 .container .columnn .block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch; }
  body.c13 #first-colomn #header {
    background-image: url("http://javascriptbook.com/code/c13/img/logo.png");
    padding: 235px 20px 0 20px;
    background-repeat: no-repeat;
    background-position: top;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.5rem; }
  body.c13 #first-colomn #text {
    padding: 0 20px;
    margin-top: 10px; }
  body.c13 .headings {
    font-size: 2rem;
    font-weight: normal; }
  body.c13 .label {
    font-size: 1.2rem; }
    body.c13 .label .required {
      color: #78052d; }
  body.c13 .inputs {
    height: 30px;
    font-size: 1.1rem;
    margin-top: 5px;
    text-indent: 2px;
    box-shadow: inset 0 2px 2px black;
    border: none; }
    body.c13 .inputs:focus {
      outline: 0;
      outline-offset: 0; }
  body.c13 .message {
    margin-bottom: 20px;
    font-size: 0.85rem; }
  body.c13 #second-colomn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; }
    body.c13 #second-colomn .cross, body.c13 #second-colomn .check-mark {
      background-repeat: no-repeat;
      background-position: center right; }
    body.c13 #second-colomn .cross {
      background-image: url("http://javascriptbook.com/code/c13/img/cross.png"); }
    body.c13 #second-colomn .check-mark {
      background-image: url("http://javascriptbook.com/code/c13/img/tick.png"); }
  body.c13 #third-colomn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; }
    body.c13 #third-colomn .show-when-small {
      display: none; }
      body.c13 #third-colomn .show-when-small #smallers {
        height: 12px;
        box-shadow: none;
        margin-bottom: 15px; }
    body.c13 #third-colomn #shortstory {
      height: 100px;
      margin-bottom: 5px; }
      body.c13 #third-colomn #shortstory .symbols-left {
        font-size: 0.95rem; }
    body.c13 #third-colomn #final {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: stretch;
      flex-wrap: wrap;
      margin-top: 15px; }
      body.c13 #third-colomn #final .final-button {
        background-color: #000000;
        height: 36px;
        width: 102px;
        font-size: 1.15rem;
        color: #FFF;
        border-radius: 7px;
        border: none;
        margin: -10px 0px 20px 0px;
        white-space: nowrap;
        padding: 5px; }
        body.c13 #third-colomn #final .final-button:focus {
          outline: 0;
          outline-offset: 0; }
  @media screen and (min-width: 851px) and (max-width: 1070px) {
    body.c13 .container {
      flex-wrap: nowrap; }
      body.c13 .container .columnn {
        margin: 0px;
        width: 30%; } }
  @media screen and (min-width: 716px) and (max-width: 850px) {
    body.c13 .container {
      flex-direction: column;
      height: auto;
      flex-wrap: wrap; }
      body.c13 .container .columnn {
        margin: 5px; } }
  @media screen and (min-width: 541px) and (max-width: 715px) {
    body.c13 .container {
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr; }
      body.c13 .container .columnn {
        margin: 0px;
        box-sizing: border-box;
        width: 100%; }
    body.c13 #first-colomn {
      grid-area: 1 / 1 / span 1 / span 2;
      justify-self: center;
      height: 400px;
      background-image: repeating-linear-gradient(to right, #ff0048 3.1%, #ff4a4a 4.2%, #ff0048 5.7%), repeating-linear-gradient(#ff0048 6%, #ff4a4a 7%, #ff0048 10%); }
    body.c13 #second-colomn {
      grid-area: 2 / 1 / span 1 / span 1;
      justify-self: end; }
    body.c13 #third-colomn {
      grid-area: 2 / 2 / span 1 / span 1;
      justify-self: start; } }
  @media screen and (max-width: 540px) {
    body.c13 .container {
      flex-direction: column;
      height: auto;
      flex-wrap: wrap; }
      body.c13 .container .columnn {
        margin: 0px;
        box-sizing: border-box;
        width: 300px; } }

body.ex1 * {
  box-sizing: border-box; }

body.ex1 body {
  padding: 1rem .5rem;
  font-size: 1.3rem;
  line-height: 1.2;
  max-width: 60rem;
  margin: 0 auto;
  color: #333; }

body.ex1 img {
  max-width: 100%; }

body.ex1 .Header {
  text-align: center;
  border-bottom: 8px double #f9f9f9;
  margin-bottom: 2rem;
  padding-bottom: 1rem; }

body.ex1 .Strap {
  font-size: 1rem; }

body.ex1 .MoneyShot {
  position: relative; }

body.ex1 .MoneyShotImg {
  border: 6px solid #e8cfa9;
  border-radius: 4px; }

body.ex1 .LogoWrapper {
  display: block; }

body.ex1 .ImageCaption {
  font-size: .75rem;
  position: absolute;
  bottom: .5rem;
  right: 1rem; }

body.ex1 .IntroText {
  font-size: 1.8rem;
  font-style: italic; }

body.ex1 .MethodWrapper li {
  padding: .4rem 0; }

body.ex1 .MethodWrapper li:after {
  content: "✼";
  display: block;
  text-align: center;
  margin: 1rem 0 .5rem 0;
  color: #eee; }

body.mobile {
  background-color: #FFF;
  color: #000;
  font-size: 16px;
  margin: 0;
  padding: 0; }
  body.mobile a {
    text-decoration: none; }
  body.mobile .background {
    box-sizing: border-box;
    height: 100%;
    width: 100%; }
    body.mobile .background__phon, body.mobile .background__white-circle, body.mobile .background__shadow-under-menu-button, body.mobile .background__colored-right-circle, body.mobile .background__white-circle-upon-colored, body.mobile .background__bottom-partcircle {
      height: 100%;
      width: 100%;
      position: absolute; }
  body.mobile .first-page-content {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02rem;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: repeat(4, 1fr)/repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    grid-template-areas: "header menuu" "slogan slogan" "button button" "footer footer"; }
    body.mobile .first-page-content_relative {
      position: relative; }
    body.mobile .first-page-content__header {
      font-weight: bold;
      grid-area: header;
      top: -3%; }
    body.mobile .first-page-content__header_green-letter {
      color: #0fb5c1; }
    body.mobile .first-page-content__menu-button {
      grid-area: menuu;
      top: -3%;
      left: 5%;
      border-radius: 100%;
      box-shadow: 0px 19px 30px 7px #dbdbdb;
      height: 31%;
      width: 28%; }
    body.mobile .first-page-content__menu-button_icon {
      position: absolute;
      top: 34%;
      left: 33%; }
    body.mobile .first-page-content__slogan {
      grid-area: slogan;
      left: 3%;
      top: 5%;
      display: flex;
      flex-direction: column;
      height: 38%; }
      body.mobile .first-page-content__slogan_text-flex_first {
        width: 100%;
        position: absolute;
        top: 25%;
        left: 5%; }
      body.mobile .first-page-content__slogan_text {
        display: inline-flex;
        font-size: 2.4rem;
        font-weight: bold;
        font-family: Arial,serif; }
      body.mobile .first-page-content__slogan_under-text {
        font-size: 0.5rem;
        margin-top: 8%;
        padding-left: 5.7%; }
    body.mobile .first-page-content__start-button {
      grid-area: button;
      height: 30%;
      width: 70%;
      margin: 0 auto;
      text-align: center;
      background: linear-gradient(45deg, #602485, #c64bd6);
      border-radius: 50px;
      top: -7%;
      display: flex;
      justify-content: center;
      align-items: center; }
      body.mobile .first-page-content__start-button_link {
        color: #FFF;
        font-weight: bold; }
    body.mobile .first-page-content__footer {
      grid-area: footer;
      font-size: 0.5rem;
      font-size: 0.7rem;
      align-self: end;
      bottom: 2%;
      color: #FFF;
      padding-right: 20%; }
      body.mobile .first-page-content__footer_link {
        color: #b13dbe; }
