html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul,
ol, li, dl, dt, dd, form, a, fieldset, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

html {
  height: 100%; }

body {
  line-height: 1;
  margin: 0px;
  padding: 0;
  border: 0;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  padding: 0.5em 0;
  margin: 0 10px; }

ul, ol {
  list-style: none; }

img {
  border: 0; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

body.todo {
  background-color: Black;
  color: White;
  text-shadow: 2px 2px 1px Black;
  font-size: 16px;
  margin-top: 100px; }
  body.todo #main_div {
    background-color: #403c3b;
    width: 480px;
    margin: 20px auto 20px auto;
    text-align: center;
    font-family: "Open Sans", "Times New Roman", serif; }
  body.todo #header_r {
    font-size: 1.7rem;
    background-color: #403c3b; }
  body.todo #first_line {
    background-image: url(https://i.pinimg.com/236x/44/17/78/441778b5f0fb528c93dda88692e714a9--cat-tattoo-black-small-cat-tattoos.jpg);
    background-position: center bottom;
    height: 130px;
    width: 130px;
    margin: 10px auto;
    color: #403c3b;
    font-weight: bold;
    text-shadow: none;
    position: relative; }
    body.todo #first_line div {
      position: absolute;
      display: block;
      bottom: 10px;
      width: 100%; }
  body.todo #second_line {
    display: inline-flex; }
  body.todo #buy {
    text-transform: uppercase;
    margin: 5px;
    letter-spacing: 0.3rem; }
  body.todo #number_of_lis span {
    background-color: White;
    border-radius: 20px 20px;
    font-size: 1.2rem;
    color: Black;
    padding: 4px;
    vertical-align: bottom; }

body.todo ul {
  display: block;
  list-style-type: none;
  padding: 0px; }
  body.todo ul li {
    text-align: left;
    padding: 5px 20px;
    font-size: 1.2rem; }

body.todo .hot {
  background-color: #d7666b;
  border-top: 1px solid #e99295;
  border-bottom: 1px solid #914141; }

body.todo .orange {
  background-color: #ec8b68;
  border-top: 1px solid #fe9772;
  border-bottom: 1px solid #9f593f; }

body.todo .grey {
  background-color: #617280;
  background-image: url(https://image.flaticon.com/icons/png/128/61/61391.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  width: auto;
  border-bottom: 1px solid #949ca3;
  border-top: 1px solid #4a4e52; }

body.todo #button_to_add {
  text-align: right; }

body.todo #new_item {
  background-color: #d7666b;
  border-radius: 5px;
  border: 1px outset Grey;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 15px;
  font-size: 1.1rem;
  margin-top: 10px; }

body.todo #form_to_add {
  padding-bottom: 20px;
  display: none; }

body.todo #item_description {
  background-color: #617280;
  border-radius: 5px;
  color: Black;
  font-size: 1.1rem;
  height: 25px;
  outline: none;
  margin-top: 10px; }

body.todo #item_description::-webkit-input-placeholder {
  color: #24384a; }

body.todo #button_to_submit {
  font-size: 1rem;
  text-align: right;
  background-color: #d7666b;
  border-radius: 5px;
  border: 1px outset Grey;
  height: 30px;
  font-size: 1.1rem;
  margin-top: 10px; }
  body.todo #button_to_submit:hover {
    background-color: Black;
    color: White; }

body.todo #total_summa {
  position: fixed;
  bottom: 40px;
  right: -100px;
  background: linear-gradient(to top, #d7666b, #ec8b68);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 7px Yellow;
  white-space: no-wrap; }

@media screen and (min-width: 490px) {
  body.todo #button_to_submit {
    margin-left: 100px; } }

@media screen and (max-width: 489px) and (min-width: 340px) {
  body.todo #main_div {
    width: 300px; } }

@media screen and (max-width: 339px) {
  body.todo #main_div {
    width: 100%; }
  body.todo #buy {
    font-size: 0.8rem; }
  body.todo #number_of_lis {
    line-height: 28px; }
    body.todo #number_of_lis span {
      font-size: 0.8rem;
      margin-right: 10px; }
  body.todo #form_to_add {
    display: none; }
  body.todo #item_description {
    width: 50%; } }

@media screen and (max-width: 250px) {
  body.todo {
    min-width: 250px; } }

body.lesson-third {
  margin-top: 8px; }
  body.lesson-third #game {
    width: 800px;
    margin: auto; }
  body.lesson-third #central {
    text-align: center;
    border: 1px dashed black;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; }
  body.lesson-third #start #explanation {
    margin: 5px; }
  body.lesson-third #follow {
    display: none; }
  body.lesson-third #game-table {
    margin-top: 20px;
    margin-bottom: 20px; }
    body.lesson-third #game-table .row {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      line-height: 60px; }
      body.lesson-third #game-table .row .element {
        width: 60px;
        height: 60px;
        border: 1px solid Black;
        font-size: 3em;
        user-select: none; }
  body.lesson-third .red {
    background: red; }

body.main-in-numbers {
  font-size: 16px;
  height: 100%; }
  body.main-in-numbers p {
    margin: 16px 0; }
  body.main-in-numbers .red {
    background-color: #ffbfdc; }
  body.main-in-numbers .button {
    background-image: linear-gradient(#FFF 0%, #fee7f1 100%);
    height: 30px;
    width: 89px;
    border-radius: 10px;
    border: 1px #fee7f1 solid;
    outline: none; }
    body.main-in-numbers .button:hover {
      box-shadow: 0 0 3px #FFF; }
  body.main-in-numbers #main-div {
    background-color: #faf1e3;
    padding: 30px;
    height: 100%; }
  body.main-in-numbers #centre {
    text-align: center;
    box-shadow: 0 0 15px 5px #FFFFFF, inset 0px 0px 30px #FFF;
    box-sizing: inherit;
    padding: 20px;
    background-image: url("/images/sacura.jpg");
    background-repeat: no-repeat;
    background-position: 0% 45%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center; }
  body.main-in-numbers #first {
    width: 70%; }
    body.main-in-numbers #first #instruction {
      text-align: center; }
  body.main-in-numbers #second {
    display: none; }
    body.main-in-numbers #second #time-left {
      font-size: 20px; }
    body.main-in-numbers #second #centralization {
      display: flex;
      justify-content: center; }
    body.main-in-numbers #second #game-board {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: max-content;
      border-radius: 5px;
      background-color: transparent; }
      body.main-in-numbers #second #game-board .row {
        display: flex;
        flex-flow: row; }
      body.main-in-numbers #second #game-board .cell {
        height: 60px;
        width: 60px;
        font-size: 2rem;
        margin: 3px;
        text-align: center;
        border-radius: 5px;
        line-height: 60px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none; }
        body.main-in-numbers #second #game-board .cell:hover {
          box-shadow: inset 0px 0px 30px #FFF; }
      body.main-in-numbers #second #game-board .initial-color {
        background-color: #faf1e3; }

body.calender {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  width: 100%;
  position: relative;
  height: 100%;
  background-image: linear-gradient(#7FFFD4, #FFD700), linear-gradient(#000 50%, #FFF 50%), linear-gradient(90deg, #000 50%, #FFF 50%), URL("http://images.all-free-download.com/images/graphiclarge/linen_fabric_background_04_hd_picture_169825.jpg");
  background-blend-mode: screen, difference, exclusion;
  background-repeat: repeat;
  background-size: 100% 100%, 100px 100px, 100px 100px; }
  body.calender .blue {
    color: #0077cc;
    opacity: 0.7; }
  body.calender .current-date {
    color: #FFFFFF;
    background-color: #000000; }
  body.calender #center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -104px;
    margin-left: -110px; }
  body.calender #calender-view {
    text-align: center;
    border: 1px solid Black;
    width: 217px;
    background-color: #FFF; }
  body.calender #first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 45px; }
    body.calender #first-line #global-date {
      padding-left: 10px; }
      body.calender #first-line #global-date #left-side {
        font-size: 1.1rem; }
    body.calender #first-line #rifles {
      padding-right: 8px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 50px; }
      body.calender #first-line #rifles #to-left {
        padding: 4px 10px 4px 4px; }
        body.calender #first-line #rifles #to-left:hover {
          cursor: pointer; }
      body.calender #first-line #rifles #to-right {
        padding: 4px; }
        body.calender #first-line #rifles #to-right:hover {
          cursor: pointer; }
  body.calender #second-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #b9d4eb;
    border-top: 1px solid #4a5c6b;
    border-bottom: 1px solid #4a5c6b;
    line-height: 20px; }
    body.calender #second-line .weekday {
      width: 31px;
      box-sizing: border-box; }
      body.calender #second-line .weekday:hover {
        cursor: pointer; }
  body.calender #third-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; }
    body.calender #third-line .day {
      width: 31px;
      padding: 2px;
      box-sizing: border-box;
      font-size: 1.1rem;
      line-height: 1.4; }
      body.calender #third-line .day:hover {
        color: #FFF;
        background-color: #000;
        cursor: pointer; }

body.form-nice {
  font-size: 18px;
  background-image: url("https://tinybop.com/img/apps/skyscrapers/investigate.gif"), linear-gradient(to right, #fc7216 0%, #c0c0c0 100%);
  background-blend-mode: overlay; }
  body.form-nice form {
    width: 45%; }
  body.form-nice fieldset {
    border: 8px solid Black;
    border-radius: 10px;
    padding: 6.3px 13.5px 11.25px 13.5px; }
  body.form-nice label, body.form-nice input {
    font-size: 0.95rem;
    margin: 4px 0 4px 0; }
  body.form-nice select {
    height: 22.8px; }
  body.form-nice #submit {
    float: right;
    margin-right: 20px; }

body.c13 {
  font-size: 16px;
  color: #FFF;
  line-height: 1.2rem;
  background-image: url("http://www.parhlo.com/wp-content/uploads/2016/01/1.-Naran-Kaghan-Waterfalls.jpg"), radial-gradient(#78052d, #d7666b);
  background-repeat: inherit;
  background-size: 100% 100%;
  background-blend-mode: color-burn;
  height: 750px;
  width: 100%;
  box-shadow: inset 0px 21px 73px black;
  position: fixed; }
  body.c13 .red {
    color: black;
    font-size: 1.2rem; }
  body.c13 .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 750px; }
    body.c13 .container .columnn {
      height: 501px;
      width: 250px;
      background-blend-mode: color;
      background-image: repeating-linear-gradient(to right, #ff0048 5%, #ff4a4a 7%, #ff0048 10%), repeating-linear-gradient(#ff0048 2%, #ff4a4a 3%, #ff0048 5%);
      border: 15px solid #FFFFFF;
      padding: 10px;
      margin: 30px; }
      body.c13 .container .columnn .block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch; }
  body.c13 #first-colomn #header {
    background-image: url("http://javascriptbook.com/code/c13/img/logo.png");
    padding: 235px 20px 0 20px;
    background-repeat: no-repeat;
    background-position: top;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.5rem; }
  body.c13 #first-colomn #text {
    padding: 0 20px;
    margin-top: 10px; }
  body.c13 .headings {
    font-size: 2rem;
    font-weight: normal; }
  body.c13 .label {
    font-size: 1.2rem; }
    body.c13 .label .required {
      color: #78052d; }
  body.c13 .inputs {
    height: 30px;
    font-size: 1.1rem;
    margin-top: 5px;
    text-indent: 2px;
    box-shadow: inset 0 2px 2px black;
    border: none; }
    body.c13 .inputs:focus {
      outline: 0;
      outline-offset: 0; }
  body.c13 .message {
    margin-bottom: 20px;
    font-size: 0.85rem; }
  body.c13 #second-colomn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; }
    body.c13 #second-colomn .cross, body.c13 #second-colomn .check-mark {
      background-repeat: no-repeat;
      background-position: center right; }
    body.c13 #second-colomn .cross {
      background-image: url("http://javascriptbook.com/code/c13/img/cross.png"); }
    body.c13 #second-colomn .check-mark {
      background-image: url("http://javascriptbook.com/code/c13/img/tick.png"); }
  body.c13 #third-colomn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; }
    body.c13 #third-colomn .show-when-small {
      display: none; }
      body.c13 #third-colomn .show-when-small #smallers {
        height: 12px;
        box-shadow: none;
        margin-bottom: 15px; }
    body.c13 #third-colomn #shortstory {
      height: 100px;
      margin-bottom: 5px; }
      body.c13 #third-colomn #shortstory .symbols-left {
        font-size: 0.95rem; }
    body.c13 #third-colomn #final {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: stretch;
      flex-wrap: wrap;
      margin-top: 15px; }
      body.c13 #third-colomn #final .final-button {
        background-color: #000000;
        height: 36px;
        width: 102px;
        font-size: 1.15rem;
        color: #FFF;
        border-radius: 7px;
        border: none;
        margin: -10px 0px 20px 0px;
        white-space: nowrap;
        padding: 5px; }
        body.c13 #third-colomn #final .final-button:focus {
          outline: 0;
          outline-offset: 0; }
  @media screen and (min-width: 851px) and (max-width: 1070px) {
    body.c13 .container {
      flex-wrap: nowrap; }
      body.c13 .container .columnn {
        margin: 0px;
        width: 30%; } }
  @media screen and (min-width: 716px) and (max-width: 850px) {
    body.c13 .container {
      flex-direction: column;
      height: auto;
      flex-wrap: wrap; }
      body.c13 .container .columnn {
        margin: 5px; } }
  @media screen and (min-width: 541px) and (max-width: 715px) {
    body.c13 .container {
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr; }
      body.c13 .container .columnn {
        margin: 0px;
        box-sizing: border-box;
        width: 100%; }
    body.c13 #first-colomn {
      grid-area: 1 / 1 / span 1 / span 2;
      justify-self: center;
      height: 400px;
      background-image: repeating-linear-gradient(to right, #ff0048 3.1%, #ff4a4a 4.2%, #ff0048 5.7%), repeating-linear-gradient(#ff0048 6%, #ff4a4a 7%, #ff0048 10%); }
    body.c13 #second-colomn {
      grid-area: 2 / 1 / span 1 / span 1;
      justify-self: end; }
    body.c13 #third-colomn {
      grid-area: 2 / 2 / span 1 / span 1;
      justify-self: start; } }
  @media screen and (max-width: 540px) {
    body.c13 .container {
      flex-direction: column;
      height: auto;
      flex-wrap: wrap; }
      body.c13 .container .columnn {
        margin: 0px;
        box-sizing: border-box;
        width: 300px; } }

body.basics {
  background-color: burlywood;
  font-size: 1rem;
  height: 100%;
  display: flex; }
  body.basics #app {
    width: 100%; }
  body.basics .img-flex-container {
    margin: 20px auto 0 auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 700px; }
  body.basics .img-cell {
    margin: 7px; }
    body.basics .img-cell img {
      height: 185px;
      width: 185px; }
    body.basics .img-cell:hover {
      box-shadow: 0px 0px 12px 5px #FFF; }
  body.basics .func-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  body.basics .span-decor {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Indie Flower', 'Courgette', 'Pacifico', cursive;
    font-size: 2rem; }
  body.basics .menu {
    color: #ad133f; }
  body.basics .click-button {
    background-color: #FFF;
    width: 30%;
    border: 2px solid Black;
    box-shadow: inset 0px 0px 7px;
    border-radius: 40px;
    padding: 5px; }
    body.basics .click-button:hover {
      box-shadow: inset 0px 0px 7px, 0px 0px 10px 1px;
      text-shadow: 0px 0px 2px;
      text-decoration: none; }

body.mobile {
  background-color: #FFF;
  color: #000;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02rem;
  height: 100%;
  overflow: hidden; }
  body.mobile a {
    text-decoration: none; }
  body.mobile .green-letter {
    color: #0fb5c1; }
  body.mobile .first-page {
    display: block;
    height: 100%; }
  body.mobile .second-page {
    display: none;
    height: 100%; }
  body.mobile .background {
    box-sizing: border-box;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    position: relative; }
    body.mobile .background .svg_position {
      height: 100%;
      width: 100%;
      position: absolute; }
  body.mobile .first-page-content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%; }
    body.mobile .first-page-content__margin {
      padding: 10% 0;
      height: 100%;
      width: 80%;
      margin: 0 10% 0 10%;
      box-sizing: border-box;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between; }
    body.mobile .first-page-content_cap {
      display: inline-flex;
      align-items: center; }
    body.mobile .first-page-content__header {
      font-weight: bold;
      margin-left: 4%; }
    body.mobile .first-page-content__menu-button {
      margin: 0 4% 0 auto;
      border-radius: 100%;
      box-shadow: 0px 19px 30px 7px #dbdbdb;
      background-color: #FFF;
      height: 56px;
      width: 56px;
      position: relative;
      cursor: pointer; }
    body.mobile .first-page-content__menu-button_icon {
      position: absolute;
      top: 22px;
      left: 20px; }
    body.mobile .first-page-content__slogan {
      position: relative; }
      body.mobile .first-page-content__slogan_text {
        font-size: 1.6rem;
        font-weight: bold;
        font-family: Arial,serif; }
      body.mobile .first-page-content__slogan_under-text {
        font-size: 0.5rem;
        position: absolute;
        top: 26%;
        left: 1%; }
    body.mobile .first-page-content__start-button {
      position: absolute;
      top: 45%;
      width: 90%;
      padding: 5%;
      margin: 0 auto;
      text-align: center;
      background: linear-gradient(45deg, #602485, #c64bd6);
      border-radius: 50px;
      cursor: pointer; }
      body.mobile .first-page-content__start-button_link {
        color: #FFF;
        font-weight: bold;
        text-align: center; }
    body.mobile .first-page-content__footer {
      display: inline-flex;
      font-size: 0.7rem;
      color: #FFF;
      cursor: pointer; }
      body.mobile .first-page-content__footer_link {
        color: #b13dbe; }
  @media only screen and (orientation: landscape) {
    body.mobile .first-page-content__margin {
      padding: 6% 0;
      height: 100%;
      width: 86%;
      margin: 0 7%; }
    body.mobile .first-page-content__header {
      margin-left: 0%;
      align-self: end; }
    body.mobile .first-page-content__slogan {
      padding-left: 27%; }
      body.mobile .first-page-content__slogan_under-text {
        padding-left: 26.5%; }
    body.mobile .first-page-content__menu-button {
      margin: -3% 10% 0 auto; }
    body.mobile .first-page-content__start-button {
      top: 41%;
      left: 38%;
      width: 20%;
      padding: 3%; } }
  @media only screen and (min-width: 900px) {
    body.mobile .background {
      max-width: 900px; }
    body.mobile .first-page-content__margin {
      max-width: 900px;
      margin: 0 auto;
      width: 100%;
      padding: 50px; }
    body.mobile .first-page-content_cap {
      position: relative; }
    body.mobile .first-page-content_middle {
      width: 285px;
      margin: 0 auto; }
    body.mobile .first-page-content__menu-button {
      position: absolute;
      top: 11%;
      right: 10%;
      margin: 0; }
    body.mobile .first-page-content__slogan {
      padding: 0; }
    body.mobile .first-page-content__start-button {
      top: 70px;
      width: 170px;
      padding: 20px;
      left: 0;
      right: 0; } }
  body.mobile .second-page-content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%; }
    body.mobile .second-page-content__margin {
      padding: 10% 0;
      height: 100%;
      width: 80%;
      margin: 0 10% 0 10%;
      box-sizing: border-box;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between; }
    body.mobile .second-page-content_cap {
      display: inline-flex;
      align-items: center; }
    body.mobile .second-page-content__header {
      font-weight: bold;
      margin-left: 4%; }
    body.mobile .second-page-content__menu-button {
      position: relative;
      margin: 0 4% 0 auto;
      height: 56px;
      width: 56px;
      border-radius: 100%;
      box-shadow: 0px 19px 30px 7px #dbdbdb;
      background-color: #FFF;
      cursor: pointer; }
    body.mobile .second-page-content__menu-button_icon {
      position: absolute;
      top: 22px;
      left: 20px; }
    body.mobile .second-page-content_page-name {
      height: 23%; }
    body.mobile .second-page-content__title {
      font-size: 1.8rem;
      font-weight: bold;
      font-family: Arial,serif; }
    body.mobile .second-page-content_points {
      height: 62%; }
    body.mobile .second-page-content__missions {
      display: flex;
      flex-flow: column;
      height: 100%;
      justify-content: start; }
      body.mobile .second-page-content__missions_aim {
        padding-left: 2%;
        margin-bottom: 5%; }
      body.mobile .second-page-content__missions_icon {
        width: 20%; }
      body.mobile .second-page-content__missions_text {
        color: #000;
        font-size: 0.9rem;
        line-height: 1.08rem;
        padding-top: 2%; }
  @media only screen and (orientation: landscape) {
    body.mobile .second-page-content__margin {
      padding: 6% 0;
      height: 100%;
      width: 86%;
      margin: 0 7%; }
    body.mobile .second-page-content__header {
      margin-left: 0%;
      align-self: end; }
    body.mobile .second-page-content__menu-button {
      margin: -3% 10% 0 auto; }
    body.mobile .second-page-content__title {
      height: 100%; }
    body.mobile .second-page-content__missions {
      flex-flow: row;
      display: inline-flex;
      justify-content: space-evenly; }
      body.mobile .second-page-content__missions_aim {
        width: calc(100%/3);
        margin: initial;
        flex: 1 1 auto;
        padding-left: 3%; }
      body.mobile .second-page-content__missions_white-box {
        display: flex;
        justify-content: center;
        padding: 12% 2%; }
      body.mobile .second-page-content__missions_icon {
        width: 30%;
        height: 50%; }
      body.mobile .second-page-content__missions_text {
        font-size: 0.85rem;
        line-height: 1.04rem; } }
  @media only screen and (min-width: 900px) {
    body.mobile .background {
      max-width: 900px; }
    body.mobile .second-page-content__margin {
      max-width: 900px;
      margin: 0 auto;
      width: 100%;
      padding: 50px; }
    body.mobile .second-page-content_cap {
      position: relative; }
    body.mobile .second-page-content__header {
      position: relative; }
    body.mobile .second-page-content__menu-button {
      position: absolute;
      top: 11%;
      right: 10%;
      margin: 0; }
    body.mobile .second-page-content__title {
      padding-top: 58px;
      font-size: 40px; }
    body.mobile .second-page-content__missions_aim {
      padding-left: 0; }
    body.mobile .second-page-content__missions_icon {
      width: 100px; }
    body.mobile .second-page-content__missions_text {
      font-size: 1rem;
      padding-right: 5px; } }
  body.mobile .hidden-menu__grey-display {
    height: 100%;
    width: 100%;
    background-color: #a1a1a1;
    z-index: 5;
    position: absolute;
    display: none; }
  body.mobile .hidden-menu {
    z-index: 6;
    position: absolute;
    right: -45%;
    top: 14%;
    height: 25%;
    width: 45%;
    display: none; }
    body.mobile .hidden-menu__options {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      body.mobile .hidden-menu__options_items {
        flex: 1;
        padding: 5%;
        color: #e4e4e4;
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        width: 100%;
        border-radius: 25px;
        text-align: center;
        margin-bottom: 1%;
        background: linear-gradient(10deg, #076bca -30%, #7e5298 48%, #0fb5c1 128%);
        cursor: pointer; }
      body.mobile .hidden-menu__options_items:last-child {
        margin-bottom: 0; }
  @media only screen and (orientation: landscape) {
    body.mobile .hidden-menu__options_items {
      padding: 3%; } }
  @media only screen and (min-width: 900px) {
    body.mobile .hidden-menu_centration {
      max-width: 900px;
      position: relative;
      margin: 0 auto;
      width: 100%;
      height: 100%; }
    body.mobile .hidden-menu__options {
      position: absolute;
      top: 36px;
      right: 70px; }
      body.mobile .hidden-menu__options_items {
        padding: 12px;
        width: 300px;
        height: 23px;
        top: 85px; } }
  @media only screen and (min-width: 1100px) {
    body.mobile .hidden-menu {
      height: 40%;
      width: 30%;
      right: -50%; } }

body.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%; }
  body.calculator #centralization {
    width: 265px;
    font-size: 20px;
    font-family: Verdana, serif; }
  body.calculator #main-div {
    border: 1px solid Black;
    text-align: center;
    background: linear-gradient(to top, #eef288 0%, #ec8b68 25%, #eef288 50%, #ec8b68 75%, #eef288 100%); }
  body.calculator .pole {
    border: 1px solid Black;
    margin: 7px;
    width: 205px; }
  body.calculator #clean {
    float: left; }
  body.calculator #calculate {
    float: right;
    width: 55%;
    padding: 7px;
    margin: 7px;
    font-size: 1.2rem; }
  body.calculator .string {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  body.calculator .elem {
    border: 1px solid Black;
    padding: 7px;
    margin: 7px;
    width: 25px; }
    body.calculator .elem:hover {
      color: White;
      background-color: Black; }

body.oughts-crosses {
  background: radial-gradient(circle farthest-side at center, #b4ddb4 0%, #83c783 30%, #52b152 80%); }
  body.oughts-crosses #game-place {
    width: 600px;
    border: 2px ridge #0e8a39;
    box-shadow: 0px 0px 20px 5px #619961;
    position: absolute;
    margin-left: -300px;
    margin-top: 50px;
    margin-bottom: 50px;
    left: 50%;
    font-size: 18px;
    background: White; }
  body.oughts-crosses #game {
    text-align: center;
    margin: 40px 0; }
    body.oughts-crosses #game > div {
      margin-bottom: 16px; }
  body.oughts-crosses #game-list {
    display: flex;
    flex-flow: column;
    align-items: center; }
  body.oughts-crosses .row {
    display: flex;
    flex-flow: row; }
  body.oughts-crosses .cell {
    height: 40px;
    width: 40px;
    border: 2px solid Black;
    font-size: 2rem;
    font-family: "Bitter", serif; }
  body.oughts-crosses #whose-turn {
    font-size: 0.875rem; }
  body.oughts-crosses #counter {
    float: right;
    position: absolute;
    left: 75%;
    top: 15%;
    border: 1px solid Black;
    padding: 10px;
    width: 120px;
    display: flex;
    flex-flow: column; }
  body.oughts-crosses .result {
    padding: 8px;
    font-size: 0.95rem; }

body.shop {
  height: 100%;
  width: 100%;
  min-width: 800px;
  font-size: 1rem;
  color: #000;
  font-family: Tahoma, Geneva, sans-serif; }
  body.shop .first-page-support__services_triangle-beige-left, body.shop .first-page-support__services_triangle-beige-right, body.shop .first-page-support__services_triangle-white-left, body.shop .first-page-support__services_triangle-white-right {
    width: 0;
    height: 0;
    border-style: solid; }
  body.shop .centrelaze {
    width: 100%; }
  body.shop a {
    text-decoration: none; }
  body.shop .page-header {
    font-family: "Bitter", serif; }
    body.shop .page-header__upper-menu {
      background-color: #F5F5F5;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 0.75rem;
      padding: 10px 50px; }
      body.shop .page-header__upper-menu_block:nth-child(2) {
        margin-left: auto;
        padding-right: 10px; }
      body.shop .page-header__upper-menu_block:first-child ~ * {
        text-transform: uppercase; }
      body.shop .page-header__upper-menu_block_border {
        border-left: 1px solid #000;
        padding: 0 10px; }
      body.shop .page-header__upper-menu_block_last-padding {
        padding: 0 0 0 10px; }
    body.shop .page-header__lower-menu {
      padding: 0 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      body.shop .page-header__lower-menu .categories {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: "IM Fell Double Pica", serif; }
        body.shop .page-header__lower-menu .categories__name {
          padding-right: 8px;
          font-size: 1.2rem; }
      body.shop .page-header__lower-menu .page-name {
        font-family: "IM Fell Double Pica", serif;
        font-size: 3rem;
        padding: 5px 5px 5px 5vw; }
      body.shop .page-header__lower-menu .right-side {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        body.shop .page-header__lower-menu .right-side__social-nets {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center; }
          body.shop .page-header__lower-menu .right-side__social-nets_type {
            padding: 0 2px;
            background-size: 36px 36px;
            background-position: center;
            background-repeat: no-repeat;
            height: 36px;
            width: 36px; }
          body.shop .page-header__lower-menu .right-side__social-nets .facebook {
            background-image: url("/images/online-shop/icons/facebook.png"); }
          body.shop .page-header__lower-menu .right-side__social-nets .twitter {
            background-image: url("/images/online-shop/icons/twitter.png"); }
          body.shop .page-header__lower-menu .right-side__social-nets .pinterest {
            background-image: url("/images/online-shop/icons/pinterest.png"); }
          body.shop .page-header__lower-menu .right-side__social-nets .instagram {
            background-image: url("/images/online-shop/icons/instagram.png"); }
        body.shop .page-header__lower-menu .right-side__select-collection select {
          background-color: #000;
          color: #FFF;
          height: 30px;
          width: 100px;
          text-align: center;
          padding-left: 5px;
          outline: none;
          margin-left: 10px; }
  body.shop .first-page-slider {
    padding-bottom: 2vw;
    text-transform: uppercase; }
    body.shop .first-page-slider__image-container {
      position: absolute; }
      body.shop .first-page-slider__image-container img {
        width: 100%;
        max-width: 1440px;
        min-width: 800px; }
    body.shop .first-page-slider_central-message {
      height: 46vw;
      left: 1vw;
      width: 15vw;
      position: relative;
      z-index: 1;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
    body.shop .first-page-slider__discounts {
      border: 2px solid #FFF;
      border-radius: 2px;
      height: 15vw;
      width: 15vw;
      max-width: 13rem;
      max-height: 13rem;
      margin-top: 10vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      body.shop .first-page-slider__discounts_container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #FFF;
        box-sizing: padding-box;
        height: 14vw;
        width: 14vw;
        max-width: 12rem;
        max-height: 12rem; }
        body.shop .first-page-slider__discounts_container .discounts-season {
          margin-top: 1vw;
          font-size: 1.2vw;
          color: #FFF;
          letter-spacing: 0.07rem; }
        body.shop .first-page-slider__discounts_container .discounts-sale {
          font-size: 4vw; }
        body.shop .first-page-slider__discounts_container .discounts-third-line {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center; }
          body.shop .first-page-slider__discounts_container .discounts-third-line p {
            color: #FFF;
            font-size: 1.2vw; }
          body.shop .first-page-slider__discounts_container .discounts-third-line_bottom-line {
            height: 1.2vw;
            width: 3vw;
            border-bottom: 1px solid #FFF;
            margin: 0 6px; }
          body.shop .first-page-slider__discounts_container .discounts-third-line_smaller-container, body.shop .first-page-slider__discounts_container .discounts-third-line_left {
            height: 0.7vw;
            width: 2vw;
            border-bottom: 1px solid #FFF; }
          body.shop .first-page-slider__discounts_container .discounts-third-line_left {
            margin-left: 1vw; }
        body.shop .first-page-slider__discounts_container .discounts-number {
          margin-bottom: 1vw;
          font-size: 2vw; }
    body.shop .first-page-slider__shop-button {
      position: relative;
      background-color: #f09d66;
      color: #FFF;
      height: 4vw;
      width: 15vw;
      max-width: 13rem;
      margin-bottom: 6vw; }
      body.shop .first-page-slider__shop-button a {
        line-height: 4vw;
        font-size: 2vw;
        color: #FFF; }
    body.shop .first-page-slider__slider-changer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 100px; }
      body.shop .first-page-slider__slider-changer_romb {
        height: 10px;
        width: 10px;
        transform: rotate(45deg);
        background-color: #949ca3; }
      body.shop .first-page-slider__slider-changer_black {
        background-color: #000; }
  @media (min-width: 1440px) {
    body.shop .first-page-slider {
      padding-bottom: 0; }
      body.shop .first-page-slider__image-container {
        left: 50px;
        right: 50px; }
      body.shop .first-page-slider__slider-changer {
        margin-bottom: 30px; } }
  body.shop .first-page-support {
    color: #FFF; }
    body.shop .first-page-support_container {
      padding: 10px 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
    body.shop .first-page-support .shipping {
      background-image: url("/images/online-shop/icons/shipping.png");
      background-repeat: no-repeat;
      background-position: 35px;
      background-size: 37px 37px; }
    body.shop .first-page-support .return {
      background-image: url("/images/online-shop/icons/return.png");
      background-repeat: no-repeat;
      background-position: 35px;
      background-size: 37px 37px; }
    body.shop .first-page-support .support {
      background-image: url("/images/online-shop/icons/support.png");
      background-repeat: no-repeat;
      background-position: 35px;
      background-size: 37px 37px; }
    body.shop .first-page-support .return {
      background-position: 0px; }
    body.shop .first-page-support__services {
      height: 65px;
      box-sizing: border-box; }
      body.shop .first-page-support__services_beige {
        background-color: #d9bf8f;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding-left: 90px;
        width: 31vw; }
      body.shop .first-page-support__services_black {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #000;
        width: 37vw; }
        body.shop .first-page-support__services_black_text-container {
          padding-left: 50px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: flex-start;
          margin-left: 5px; }
      body.shop .first-page-support__services_name {
        text-transform: uppercase;
        font-size: 1.2rem; }
      body.shop .first-page-support__services_undertext {
        font-size: 0.7rem; }
    body.shop .first-page-support__services_triangle-beige-left {
      border-width: 32.5px 0 32.5px 32px;
      border-color: transparent transparent transparent #d9bf8f; }
    body.shop .first-page-support__services_triangle-beige-right {
      border-width: 32.5px 32px 32.5px 0;
      border-color: transparent #d9bf8f transparent transparent; }
    body.shop .first-page-support__services_triangle-white-left {
      border-width: 32.5px 0 32.5px 32px;
      border-color: transparent transparent transparent #FFF; }
    body.shop .first-page-support__services_triangle-white-right {
      border-width: 32.5px 32px 32.5px 0;
      border-color: transparent #FFF transparent transparent; }
  body.shop .first-page-collection_container {
    padding: 10px 50px; }
  body.shop .first-page-collection_padding {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #d9bf8f;
    padding: 5px; }
  body.shop .first-page-collection__article {
    background-repeat: no-repeat;
    background-position: center center;
    width: 22%;
    height: 340px;
    padding: 2px;
    box-sizing: border-box;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; }
    body.shop .first-page-collection__article_for-add-button {
      opacity: 0;
      transition: opacity 1s; }
    body.shop .first-page-collection__article:hover .first-page-collection__article_for-add-button {
      opacity: 0.8; }
    body.shop .first-page-collection__article_trapezium {
      margin: 0 auto;
      width: 10vw;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      text-transform: uppercase;
      border-bottom: 40px solid #f09d66; }
    body.shop .first-page-collection__article_add {
      position: absolute;
      text-transform: uppercase;
      margin: -27px 0 0 34px; }
  @media (min-width: 800px) and (max-width: 1130px) {
    body.shop .first-page-collection__article {
      width: 32%;
      padding-bottom: 0px; } }
  body.shop .headers_container {
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  body.shop .headers__lines {
    width: 30vw;
    height: 5px;
    border-bottom: 1px solid #d9bf8f; }
  body.shop .headers__rombs {
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    background-color: #d9bf8f; }
  body.shop .headers__current-heading {
    font-family: "IM Fell Double Pica", serif;
    font-size: 1.7rem; }
  body.shop .first-page-brands_container {
    padding: 10px 50px; }
  body.shop .first-page-brands_padding {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    height: 150px;
    width: 100%; }
  body.shop .first-page-brands__name {
    background-repeat: no-repeat;
    height: 10vw;
    width: 150px;
    background-size: 8vw;
    background-position: center; }
  body.shop .first-page-brands .bakery {
    background-image: url("/images/online-shop/brands/bakery.png"); }
  body.shop .first-page-brands .harvest {
    background-image: url("/images/online-shop/brands/harvest.png"); }
  body.shop .first-page-brands .home-energy {
    background-image: url("/images/online-shop/brands/home-energy.png"); }
  body.shop .first-page-brands .landlock {
    background-image: url("/images/online-shop/brands/landlock.png"); }
  body.shop .first-page-brands .lavalier {
    background-image: url("/images/online-shop/brands/lavalier.png"); }
  body.shop .first-page-brands .spectrum {
    background-image: url("/images/online-shop/brands/spectrum.png"); }
  body.shop .first-page-customer-reviews_container {
    padding: 0 50px;
    background-color: #d9bf8f;
    width: 100%;
    box-sizing: border-box; }
  body.shop .first-page-customer-reviews_triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 160px 0 160px;
    border-color: #FFF transparent transparent transparent;
    position: absolute;
    left: calc(50% - 160px); }
  body.shop .first-page-customer-reviews__customers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 1vw; }
    body.shop .first-page-customer-reviews__customers_content-picture > img {
      height: 25vw;
      width: 21vw;
      max-width: 312px;
      max-height: 398px; }
    body.shop .first-page-customer-reviews__customers_content-left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      flex: 1; }
      body.shop .first-page-customer-reviews__customers_content-left_description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 20vw;
        text-align: left; }
    body.shop .first-page-customer-reviews__customers_content-right {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      flex: 1;
      flex-direction: row-reverse; }
      body.shop .first-page-customer-reviews__customers_content-right_description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        height: 20vw;
        text-align: right; }
  body.shop .first-page-customer-reviews .opinion {
    font-family: "IM Fell Double Pica", serif;
    color: #fffaf0;
    line-height: 1.5rem;
    letter-spacing: 0.03rem;
    font-size: 1.5vw;
    flex: 2 0; }
  body.shop .first-page-customer-reviews .customer-name {
    font-family: "IM Fell Double Pica", serif;
    color: #000;
    font-size: 2.8vw;
    flex: 1 0; }
  body.shop .first-page-customer-reviews .occupation {
    color: #707070;
    text-transform: uppercase;
    font-size: 1.4vw;
    flex: 1 0; }
  body.shop .page-footer {
    background-color: #000;
    color: #FFF;
    width: 100%; }
    body.shop .page-footer__upper {
      padding: 10px 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start; }
      body.shop .page-footer__upper_navigation {
        flex: 6;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start; }
        body.shop .page-footer__upper_navigation_column {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          font-family: 'Arial', serif;
          width: 20vw; }
      body.shop .page-footer__upper_stay-connected {
        flex: 4;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; }
        body.shop .page-footer__upper_stay-connected_sub {
          height: 40%; }
        body.shop .page-footer__upper_stay-connected_form {
          padding: 25px 0; }
          body.shop .page-footer__upper_stay-connected_form_container {
            border: 1px solid #323030;
            padding: 5px; }
    body.shop .page-footer .headings {
      text-transform: uppercase;
      line-height: 35px;
      padding: 10px 0;
      text-align: left; }
      body.shop .page-footer .headings i {
        text-transform: lowercase;
        font-family: "IM Fell Double Pica", serif; }
    body.shop .page-footer .items {
      line-height: 2rem;
      font-size: 0.8rem;
      color: #323030;
      font-weight: bold; }
    body.shop .page-footer .icons {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 25px 0; }
    body.shop .page-footer .icons_facebook {
      background-image: url("/images/online-shop/footer/facebook.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      margin-right: 20px; }
    body.shop .page-footer .icons_twitter {
      background-image: url("/images/online-shop/footer/twitter.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      margin-right: 20px; }
    body.shop .page-footer .icons_instagram {
      background-image: url("/images/online-shop/footer/instagram.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      margin-right: 20px; }
    body.shop .page-footer .icons_pinterest {
      background-image: url("/images/online-shop/footer/pinterest.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      margin-right: 20px; }
    body.shop .page-footer .icons_wifi {
      background-image: url("/images/online-shop/footer/wifi.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 45px;
      width: 45px;
      margin-right: 20px; }
    body.shop .page-footer #subscribe_email {
      background-color: #000;
      border: none;
      outline: none;
      color: #FFF; }
    body.shop .page-footer #subscribe_submit {
      color: #FFF;
      background-color: #323030;
      border: none;
      height: 30px;
      width: 100px;
      outline: none; }
    body.shop .page-footer__lower {
      padding: 10px 50px; }
      body.shop .page-footer__lower_border-top {
        border-top: 1px solid #323030; }

@media (max-width: 800px) {
  .shop {
    overflow-x: hidden; } }

body.my-cv .education__description_timeline, body.my-cv .experience__description_timeline {
  font-size: 0.8rem;
  font-weight: bold; }

body.my-cv .education__description_nomination, body.my-cv .experience__description_nomination {
  font-size: 1.0rem;
  font-weight: bold; }

body.my-cv {
  background-color: #4d4141;
  font-family: 'Source Serif Pro', 'Crimson Text', 'Cormorant Garamond', serif;
  color: #4d4141;
  font-size: 0.9rem; }
  body.my-cv .cv {
    height: auto; }
    body.my-cv .cv__parts {
      padding: 25px;
      line-height: 1.3rem;
      background-color: #f7e7ce;
      margin: 10px; }
  body.my-cv .cv_centralization {
    margin: 0 auto; }
  body.my-cv .cv_text-indent {
    text-indent: 0.5rem; }
  body.my-cv .cv_headings {
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 0;
    font-size: 1.1rem;
    color: #4d4141; }

body.my-cv .general-info .my-image_container {
  text-align: center;
  padding: 0;
  width: auto;
  background-image: url("/images/cv-images/my-picture-grey.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto 20px auto;
  border-radius: 50%; }

body.my-cv .techniques__svg {
  padding: 1px 1px 1px 16px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: left center; }

body.my-cv .techniques .html {
  background-image: url("/images/svg/techniques/html.svg"); }

body.my-cv .techniques .css33 {
  background-image: url("/images/svg/techniques/css33.svg"); }

body.my-cv .techniques .sass {
  background-image: url("/images/svg/techniques/sass.svg"); }

body.my-cv .techniques .layouts {
  background-image: url("/images/svg/techniques/layouts.svg"); }

body.my-cv .techniques .svg {
  background-image: url("/images/svg/techniques/svg.svg"); }

body.my-cv .techniques .bootstrap3 {
  background-image: url("/images/svg/techniques/bootstrap3.svg"); }

body.my-cv .techniques .jss {
  background-image: url("/images/svg/techniques/jss.svg"); }

body.my-cv .techniques .jquery {
  background-image: url("/images/svg/techniques/jquery.svg"); }

body.my-cv .techniques .react {
  background-image: url("/images/svg/techniques/react.svg"); }

body.my-cv .techniques .npm {
  background-image: url("/images/svg/techniques/npm.svg"); }

body.my-cv .techniques .git {
  background-image: url("/images/svg/techniques/git.svg"); }

body.my-cv .skills__list {
  padding-left: 16px;
  list-style-type: disc; }
  body.my-cv .skills__list_item {
    text-indent: 1rem; }
    body.my-cv .skills__list_item span {
      left: -10px; }

body.my-cv .languages_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: no-wrap;
  margin-top: 15px; }

body.my-cv .languages__each {
  padding-left: 10px; }

body.my-cv .languages__svg-container {
  width: 50px;
  height: 50px; }

body.my-cv .languages_uppercase {
  text-transform: uppercase;
  margin-top: 10px; }

body.my-cv .languages_font-size {
  font-size: 0.8rem; }

body.my-cv .languages .english .languages__svg-container {
  background-image: url("/images/svg/languages/english-part-grey.svg"); }

body.my-cv .languages .english:hover .languages__svg-container {
  background-image: url("/images/svg/languages/english-part.svg"); }

body.my-cv .languages .german .languages__svg-container {
  background-image: url("/images/svg/languages/german-part-grey.svg"); }

body.my-cv .languages .german:hover .languages__svg-container {
  background-image: url("/images/svg/languages/german-part.svg"); }

body.my-cv .languages .russian .languages__svg-container {
  background-image: url("/images/svg/languages/russian-grey.svg"); }

body.my-cv .languages .russian:hover .languages__svg-container {
  background-image: url("/images/svg/languages/russian.svg"); }

body.my-cv .hobbies_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px; }

body.my-cv .hobbies__each {
  padding: 5px; }

body.my-cv .hobbies__svg {
  height: 80px;
  width: 80px; }

body.my-cv .contacts__details {
  text-indent: 0; }

body.my-cv .contacts_links {
  color: #4d4141; }

body.my-cv .contacts_text-bold {
  font-weight: bold; }

body.my-cv .projects {
  height: 250px; }
  body.my-cv .projects__used-techniques {
    margin-bottom: 4px;
    text-align: center; }
  body.my-cv .projects__container {
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 95%;
    width: 100%;
    transition: background-image 0.5s ease-in; }

body.my-cv .prj-calender {
  background: url("/images/projects-img/prj-calender.jpg") no-repeat -9999px -9999px; }
  body.my-cv .prj-calender_img {
    background-image: url("/images/projects-img/prj-calender-grey.jpg"); }
  body.my-cv .prj-calender:hover .prj-calender_img {
    background-image: url("/images/projects-img/prj-calender.jpg"); }

body.my-cv .prj-form-c13 {
  background: url("/images/projects-img/prj-form-c13.jpg") no-repeat -9999px -9999px; }
  body.my-cv .prj-form-c13_img {
    background-image: url("/images/projects-img/prj-form-c13-grey.jpg"); }
  body.my-cv .prj-form-c13:hover .prj-form-c13_img {
    background-image: url("/images/projects-img/prj-form-c13.jpg"); }

body.my-cv .prj-mobile {
  background: url("/images/projects-img/prj-mobile.jpg") no-repeat -9999px -9999px; }
  body.my-cv .prj-mobile_img {
    background-image: url("/images/projects-img/prj-mobile-grey.jpg"); }
  body.my-cv .prj-mobile:hover .prj-mobile_img {
    background-image: url("/images/projects-img/prj-mobile.jpg"); }

body.my-cv .prj-to-do-app {
  background: url("/images/projects-img/prj-to-do-app.jpg") no-repeat -9999px -9999px; }
  body.my-cv .prj-to-do-app_img {
    background-image: url("/images/projects-img/prj-to-do-app-grey.jpg"); }
  body.my-cv .prj-to-do-app:hover .prj-to-do-app_img {
    background-image: url("/images/projects-img/prj-to-do-app.jpg"); }

body.my-cv .prj-react-ingredients {
  background: url("/images/projects-img/prj-react-ingredients.jpg") no-repeat -9999px -9999px; }
  body.my-cv .prj-react-ingredients_img {
    background-image: url("/images/projects-img/prj-react-ingredients-grey.jpg"); }
  body.my-cv .prj-react-ingredients:hover .prj-react-ingredients_img {
    background-image: url("/images/projects-img/prj-react-ingredients.jpg"); }

body.my-cv .prj-game {
  background: url("/images/projects-img/prj-game.jpg") no-repeat -9999px -9999px; }
  body.my-cv .prj-game_img {
    background-image: url("/images/projects-img/prj-game-grey.jpg"); }
  body.my-cv .prj-game:hover .prj-game_img {
    background-image: url("/images/projects-img/prj-game.jpg"); }

@media screen and (min-width: 54rem) and (max-width: 58rem) {
  body.my-cv {
    font-size: 1rem; } }

@media screen and (min-width: 58rem) and (max-width: 63rem) {
  body.my-cv {
    font-size: 0.8rem; } }

@media screen and (min-width: 63rem) and (max-width: 68rem) {
  body.my-cv {
    font-size: 0.9rem; } }

@media screen and (min-width: 68rem) {
  body.my-cv {
    font-size: 1rem; } }

@media screen and (max-width: 48rem) {
  body.my-cv .my-image_container {
    max-width: 300px;
    height: 300px; } }

@media screen and (min-width: 48rem) and (max-width: 75rem) {
  body.my-cv .my-image_container {
    max-width: 250px;
    height: 250px; } }

@media screen and (min-width: 75rem) {
  body.my-cv .my-image_container {
    max-width: 300px;
    height: 300px; } }

@media screen and (min-width: 48rem) {
  body.my-cv .cv__parts {
    margin: 0px;
    line-height: 1.15rem;
    min-width: 230px;
    padding: 18px; }
  body.my-cv .cv_cenralization {
    display: grid;
    grid-template: repeat(23, 100px)/repeat(2, 2fr);
    width: 75%;
    margin: 20px auto; }
  body.my-cv .cv_headings {
    font-size: 1rem;
    padding: 0 0 4px 0; }
  body.my-cv .cv_line-indent {
    border-bottom: 1px solid #4d4141;
    height: 100%; }
  body.my-cv .tablet-left {
    background-color: #afe4e4; }
  body.my-cv .general-info {
    grid-area: 1 / 1 / span 7 /span 1; }
    body.my-cv .general-info .my-image_container {
      margin: 0 auto 5px auto; }
  body.my-cv .skills {
    grid-area: 8 / 1 / span 3 /span 1; }
  body.my-cv .hobbies {
    grid-area: 11 / 1 / span 4 /span 1; }
    body.my-cv .hobbies__svg {
      height: 90px;
      width: 90px; }
  body.my-cv .contacts {
    grid-area: 1 / 2 / span 2 /span 1; }
  body.my-cv .techniques {
    grid-area: 3 / 2 / span 3 /span 1; }
  body.my-cv .education {
    grid-area: 6 / 2 / span 2 /span 1; }
  body.my-cv .experience {
    grid-area: 8 / 2 / span 4 /span 1; }
  body.my-cv .languages {
    grid-area: 12 / 2 / span 2 /span 1; }
  body.my-cv .projects {
    height: 270px; }
  body.my-cv .prj-calender {
    grid-area: 15 / 1 / span 3 /span 1; }
  body.my-cv .prj-mobile {
    grid-area: 18 / 1 / span 3/span 1; }
  body.my-cv .prj-to-do-app {
    grid-area: 21 / 1 / span 3 /span 1; }
  body.my-cv .prj-form-c13 {
    grid-area: 14 / 2 / span 3 /span 1; }
  body.my-cv .prj-react-ingredients {
    grid-area: 17 / 2 / span 3 /span 1; }
  body.my-cv .prj-game {
    grid-area: 20 / 2 / span 3 /span 1; } }

@media screen and (min-width: 60rem) {
  body.my-cv .cv__parts {
    padding: 15px;
    line-height: 1.2rem; }
  body.my-cv .cv_cenralization {
    width: 82%;
    grid-template: repeat(15, 100px)/repeat(3, 3fr);
    min-width: 230px;
    max-width: 1060px; }
  body.my-cv .desktop-side {
    background-color: #afe4e4; }
  body.my-cv .desktop-center {
    background-color: #f7e7ce; }
  body.my-cv .general-info {
    grid-area: 1 / 1 / span 7 /span 1; }
    body.my-cv .general-info .my-image {
      padding: 0; }
  body.my-cv .languages {
    grid-area: 8 / 1 / span 2 /span 1; }
  body.my-cv .contacts {
    grid-area: 1 / 2 / span 2 /span 1; }
  body.my-cv .techniques {
    grid-area: 3 / 2 / span 3 /span 1; }
  body.my-cv .hobbies {
    grid-area: 6 / 2 / span 3 /span 1; }
    body.my-cv .hobbies__each {
      width: 23%;
      margin: auto; }
    body.my-cv .hobbies__svg {
      height: 100%;
      width: 100%; }
  body.my-cv .education {
    grid-area: 1 / 3 / span 2 /span 1; }
  body.my-cv .experience {
    grid-area: 3 / 3 / span 4 /span 1; }
  body.my-cv .skills {
    grid-area: 7 / 3 / span 3 /span 1; }
  body.my-cv .prj-calender {
    grid-area: 10 / 1 / span 3 /span 1; }
  body.my-cv .prj-form-c13 {
    grid-area: 13 / 1 / span 3 /span 1; }
  body.my-cv .prj-mobile {
    grid-area: 9 / 2 / span 3 /span 1; }
  body.my-cv .prj-game {
    grid-area: 12 / 2 / span 3 /span 1; }
  body.my-cv .prj-react-ingredients {
    grid-area: 10 / 3 / span 3 /span 1; }
  body.my-cv .prj-to-do-app {
    grid-area: 13 / 3 / span 3 /span 1; } }
