//flexbox mixin

@mixin flexbox($flex-direction, $flex-justify-items: flex-start, $flex-wrap: no-wrap) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $flex-justify-items;
  flex-wrap: $flex-wrap;
}

.tic-tac-toe {
  background-color: #f7f7f7;
  font-size: 18px;
  font-family: serif;

  &-div {
    margin: 20px;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    max-width: 500px;
  }

  &_game {
    @include flexbox(row, space-around);
    margin: 0;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }

  &-game-table {
    @include flexbox(row, flex-start, wrap);
    width: 100px;
    margin: 20px 0;

    .row {
      margin: 0;
    }

    .winnerCell {
      font-weight: bold;
      background-color: gainsboro;
    }

    .cell {
      height: 30px;
      width: 30px;
      border: 1px solid black;
      line-height: 30px;
      text-align: center;
    }

    .cell:nth-child(3n+1),
    .cell:nth-child(3n+2) {
      border-right: none;
    }

    .cell:nth-child(-n+6) {
      border-bottom: none;
    }
  }

  &_column {
    width: 160px;
  }
}
