.business {
  margin-top: 20px;
}


#leaf-left {
  position: absolute;
  top: 10%;
  left:0;
}
#leaf-right {
  position: absolute;
  top: 70%;
  right:0;
}

.about-us {
  background-color: $slight-grey;
  width: 100%;
  position: relative;
  &_width {
    @include flexbox(column,flex-start,center);
    @extend %width;
  }

  &__organic-farm {
    padding-top: 50px;
    width: 600px;
    //margin: auto;
    height: 150px;
    @include flexbox (column, space-around, center);

    &_heading {
      //font-weight: bold;
      @extend %leaf;
      background-position: 191px 0px;
      padding-top: 20px;
      font-size: 2rem;
      line-height: 2rem;
      span:last-child {
        @extend %font-bold;
      }

    }
    &_inbetween {
      text-transform: uppercase;
      font-size: 0.5rem;
      //line-height: 0.6rem;
      letter-spacing: 3px;
      &_lines {
        width: 50px;
        height: 0.1rem;
        display: inline-block;
        border-top: 1px solid black;
        margin: 0 10px;
      }
    }
    &_text {
      font-size: 0.75rem;
      line-height: 1.2rem;
      max-width: 800px;
    }
  }
  &__qualities {
    width: 100%;
    height: 335px;
    max-width: $max-width;
    @include flexbox(row, space-between, flex-start);
    &_each {
      width: 200px;
      height: 300px;
      @include flexbox(column, space-around, center);

      &:first-child, &:last-child {
        align-self: flex-end;
      }
      &_image {
        height: 180px;
        width: 150px;
      }
      $image-names: ("green", "red", "yellow", "braun");
      @each $item in $image-names {
        .#{$item} {
          background-image: url("/images/bright-food/business/#{$item}.png");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: auto auto;
        }
      }
      &_heading{
        font-size: 0.9rem;
        span:last-child {
          @extend %font-bold;
        }
      }
      &_description {
        font-size: 0.65rem;
        max-width: 200px;
      }
      &_button {
        border: none;
        background-color: white;
        border-radius: 999px;
        padding: 5px 10px;
        outline: none;
        text-transform: uppercase;
        color: $font-grey;
        font-size: 0.7rem;
        &:hover {
          box-shadow: 0px 0px 3px 1px $font-grey;
        }
      }
    }

  }
  &__fruit {
    height: 300px;
    width: 100%;
    margin-top: -30px;
    position: relative;
    &_first {
      height: 350px;
      width: 100%;
      background-image: url("/images/bright-food/products/grapefruit-big.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 580px auto;
    }
    &_second {
      position: absolute;
      top: 0;
      left: 55%;
      height: 130px;
      width: 130px;
      background-image: url("/images/bright-food/business/label.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 130px auto;
    }

  }
}
.information {
  background-color: $font-white;
  width: 100%;
  //max-width: $max-width;

  margin: 70px auto 30px auto;
  &_width {
    @include flexbox(row,flex-start,center);
    @extend %width;
    max-width: $max-width;
    width: 90vw;
  }
  &_first-column {
    @include flexbox(column,space-evenly,center);
    padding-right: 5px;
    width: 50%;
    //float: left;
  }
  &_second-column {
    @include flexbox(column-reverse,space-evenly,center);
    padding-left: 5px;
    width: 50%;
    //float: right;
  }

  &_categories {
    @include flexbox(row,space-around,center);
    width: 100%;
    height: 330px;

    &_of-products {
      height: 260px;
      width: 130px;
      border: 2px solid $slight-grey;
      border-radius: 10px;
      @include flexbox(column,space-around,center);
      &:hover {
        border: 2px solid #c1db83;
        box-shadow: 0 0 5px 1px $slight-grey;
      }
      &:hover .information_categories_of-products_for-line {
        border-bottom: 2px solid #c1db83;
      }

      img{
        height: 115px;
        width: 115px;
      }
      &_for-line {
        height: 5px;
        width: 40px;
        margin: -30px 0 50px 0;
        border-bottom: 2px solid $slight-grey;
      }
      &_category {
        font-size: 0.9rem;
        span:last-child {
          @extend %font-bold;
        }
      }
      &_quantity {
        color: $green;
        font-size: 0.75rem;
        font-style: italic;
        margin-top: -15px;
      }
    }
  }
  &_text {
    height: 330px;
    padding: 20px 30px 0 30px;
    p {
      padding-top: 20px;
    }
    &_above {
      text-transform: uppercase;
      font-size: 0.7rem;
      //font-weight: bold;
      letter-spacing: 2px;
    }
    &_middle {
      font-size: 1.5rem;
      line-height: 1.5rem;
      span {
        @extend %font-bold;
      }
    }
    &_below {
      font-size: 0.65rem;
      line-height: 1rem;
      max-width: 400px;
    }
  }
}