.slick-dots  {
  li > button {
    height: 20px;
    width: 20px;
    color:  $font-grey;
    font-size: 0.9rem;
    &::before {
      border-radius: 99px;
      content: " ";
      background-color: $light-green;
    }
    &:hover {
      color: $font-white;
    }
  }
  li.slick-active button:before {
    opacity: 1;
  }
}

.slick-prev::before {
  content: "🡸";
  color: $font-grey;
}
.slick-next::before {
  content: "🡺";
  color: $font-grey;
}
.slick-slide {
  margin-top: 20px;
  height: 230px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .slick-prev, .slick-next {
    background-color: $font-grey;
    border-radius: 50%;
  }
}