{% extends "layouts/layout.html.twig" %}

{% block title %}
   Study Book CSS

{% endblock %}

{% block additionalLinks %}
   {#<link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">#}
    <style>
        @import url('https://fonts.googleapis.com/css?family=Spectral+SC');
    </style>
{% endblock %}

{% block bodyClass %}
    ex1
{% endblock %}


{% block content %}
    <div id="app">
        </div>



{% endblock %}

{% block jsDifferent %}


{% endblock %}