.first-page-content {
  position: absolute;

  height: 100%;
  width: 100%;
  display: grid;
  grid-template: repeat(4,1fr)/ repeat(2,1fr);
  justify-items: center;
  align-items: center;
  grid-template-areas: "header menuu"
  "slogan slogan"
  "button button"
  "footer footer";
  &_first-page-content_margin{

  }
  &_relative {
    position: relative;
  }

  &__header {
    font-weight: bold;
    grid-area: header;
    top: -3%;
  }
 
  &__menu-button {
    grid-area: menuu;
    top: -3%;
    left: 5%;
    border-radius: 100%;
    box-shadow: 0px 19px 30px 7px #dbdbdb;
    height: 31%;
    width: 28%;
//    &:hover {
//      background-color: Black;
//    }
  }
  &__menu-button_icon {
    position: absolute;
    top: 34%;
    left: 33%;
  }
  &__slogan {
    grid-area: slogan;
    left: 3%;
    top: 5%;

    height: 25%;
    width: 94%;
    &_purple-text {
      padding-left: 7%;
    }



    &_text {
//      display: inline-flex;
      //        width: 50%;
      height: 100%;
      font-size: 2.4rem;
      font-weight: bold;
      font-family: Arial,serif;
    }

    &_under-text {
      font-size: 0.5rem;
      padding-left: 7.7%;
    }
  }
  &__start-button {
    grid-area: button;
    height: 30%;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(45deg,#602485, #c64bd6);
    border-radius: 50px;
    top: -7%;
    display: flex;
    justify-content: center;
    align-items: center;
    &_link {
      color: #FFF;
      font-weight: bold;
    }
  }
  &__footer{
    grid-area: footer;
    font-size: 0.7rem;
    align-self: end;
    bottom: 2%;
    color: #FFF;
    padding-right: 20%;
    &_link {
      color:#b13dbe;
    }
  }
}

@media only screen and (orientation: landscape){
  .first-page-content {
    &__header {
      left: -12%;
      align-self: end;
    }
    &__menu-button {
      height: 85%;
      width: 18%;
      top: 3%;
      left: 2%;
    }
    &__menu-button_icon {
      top: 37%;
      left: 35%;
    }
    &__slogan {
      top: -7%;
      width: 50%;
    }
    &__start-button {
      height: 47%;
      width: 27%;
      top: -18%;
      left: 2%;
    }
    &__footer{
      padding-right: 50%;
    }
  }
}