.first-page-content {
  position: absolute;
  top:0;
  height: 100%;
  width: 100%;
  &__margin {
    padding: 10% 0;
    height: 100%;
    width: 80%;
    margin: 0 10% 0 10%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    &_flex-child{

    }
  }
  &_cap {
    display: inline-flex;
    align-items: center;
  }

  &__header {
    font-weight: bold;
    margin-left: 4%;
  }
 
  &__menu-button {
    margin: 0 4% 0 auto;
    border-radius: 100%;
    box-shadow: 0px 19px 30px 7px #dbdbdb;
    background-color: #FFF;
    height: 56px;
    width: 56px;
    position: relative;
  }
  &__menu-button_icon {
    position: absolute;
    top: 22px;
    left: 20px;
  }
  &__slogan {
    position: relative;
    &_purple-text {
    }
    &_text {
      font-size: 1.6rem;
      font-weight: bold;
      font-family: Arial,serif;
    }
    &_under-text {
      font-size: 0.5rem;
      position: $posAbs;
      top: 26%;
      left: 1%;
    }
  }
  &__start-button {
    position: $posAbs;
    top: 45%;
    left: 1%;
    width: 90%;
    padding: 5%;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(45deg,#602485, #c64bd6);
    border-radius: 50px;
    &_link {
      color: #FFF;
      font-weight: bold;
      text-align: center;
    }
  }
  &__footer{
    display: inline-flex;
    font-size: 0.7rem;
    color: #FFF;
    &_link {
      color:#b13dbe;
    }
  }
}

@media only screen and (orientation: landscape){
  .first-page-content {
    &__margin {
      padding: 6% 0;
      height: 100%;
      width: 86%;
      margin: 0 7%;
    }
    &__header {
      margin-left: 0%;
      align-self: end;
    }
    &__slogan {
      padding-left: 27%;
      &_under-text {
        padding-left: 26.5%;
      }
    }
    &__menu-button {
      margin: -3% 10% 0 auto;
    }
    &__start-button {
      top: 41%;
      left: 38%;
      width: 20%;
      padding: 3%;
    }
  }
}

@media only screen and (min-width: 900px) {
//  .mobile {
//    max-width: 900px;
//  }
  .background {
    max-width: 900px;
  }
  .first-page-content {
    &__margin {
      max-width: 900px;
//      padding: 6% 0;
//      height: 100%;
//      width: 86%;
      margin: 0 auto;
      width: 100%;
      padding: 50px;
    }
    &_cap {
      position: relative;
    }
    &__header {
//      margin-left: 30px ;

    }
    &_middle {
      width: 285px;
      margin: 0 auto;
    }
    &__menu-button {
      position: absolute;
      top: 11%;
      right: 10%;
      margin: 0;

    }
    &__menu-button_icon {

    }
    &__slogan {
      padding: 0;

    }
    &__start-button {
      top: 70px;
//      left: 342px;
      width: 170px;
      padding: 25px;
      left: 0;
      right: 0;

    }
    &__footer{

    }
  }
}
