.hidden-menu__grey-display {
  height: 100%;
  width: 100%;
  background-color: #a1a1a1;
  z-index: 5;
  position: absolute;
  display: none;

}

.hidden-menu{
  z-index:6;
  position:absolute;
  right: -40%;
  top: 14%;
  height: 25%;
  width: 45%;
  display: none;


  &__options {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &_items {
      flex: 1;
      line-height: 200%;
//      color:       #b13dbe;
      color: #e4e4e4;
      font-family: 'Roboto', sans-serif;
      font-size: 1.4rem;
      width: 100%;
      border-radius: 25px;
      text-align: center;
      margin-bottom: 1%;
      background: linear-gradient(10deg, #076bca -30%, #7e5298 48%, #0fb5c1 128%);
//      border-left: 2px #0fb5c1 ridge;
//      border-bottom: 3px #0fb5c1 ridge;
//      border-top: 2px #7e5298 ridge;
//      border-right: 3px #076bca ridge;

    }
    #mission {}
    #rates {}
    #samples{}


  }
}