.hidden-menu__grey-display {
  height: 100%;
  width: 100%;
  background-color: #a1a1a1;
  z-index: 5;
  position: absolute;
  display: none;
}

.hidden-menu{
  z-index:6;
  position:absolute;
  right: -45%;
  top: 14%;
  height: 25%;
  width: 45%;
  display: none;
  &__options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &_items {
      flex: 1;
      padding: 5%;
      color: #e4e4e4;
      font-family: 'Roboto', sans-serif;
      font-size: 1.4rem;
      width: 100%;
      border-radius: 25px;
      text-align: center;
      margin-bottom: 1%;
      background: linear-gradient(10deg, #076bca -30%, #7e5298 48%, #0fb5c1 128%);
      cursor: pointer;
    }
  }
}
@media only screen and (orientation: landscape){
  .hidden-menu{
    &__options {
      &_items {
        padding: 3%;
      }
    }
  }
}
@media only screen and (min-width: 900px) {
  .hidden-menu{
    right: -45%;
    height: 100%;
    width: 100%;
    &_centration {
      max-width: 900px;
      position: relative;
      margin: 0 auto;
      width: 100%;
      padding: 50px;
      height: 100%;
    }
    &__options {
      position: absolute;
      top: 36px;
      right: 70px;
      &_items {
        padding: 12px;
        width: 300px;
        height: 23px;
        top: 85px;
      }
    }
  }
}