$maxWidth: 414px;
$posAbs: absolute;

body.mobile {

  //   height:640px;
  //   width: 360px;
  background-color: #FFF;
  color: #000;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02rem;
  height: 100%;
  overflow: hidden;

  a {
    text-decoration: none;
  }

  .green-letter {
    color: #0fb5c1;
  }


  .first-page {
    display: block;
    height: 100%;

  }
  .second-page {
    display: none;
    height: 100%;

  }


  .background {
   box-sizing: border-box;
   margin: 0 auto;
   height: 100%;
   width: 100%;
   position: relative;
//    max-width: $maxWidth;
  //     position: relative;
   &__phon, &__white-circle, &__shadow-under-menu-button, &__colored-right-circle, &__white-circle-upon-colored, &__bottom-partcircle, &__grey-gradient, &__white-circle-second, &__colored-circle-second-page, &__colored-circle-second-page-coverage {
     height: 100%;
     width: 100%;
     position: absolute;
   }
    svg {
//      max-width: $maxWidth;
    }
  }


  @import "first-page-content";
  @import "second-page-content";
  @import "hidden-menu";


 }