.second-page-content {
  position: absolute;
  top:0;
  height: 100%;
  width: 100%;
  &__margin {
    padding: 10% 0;
    height: 100%;
    width: 80%;
    margin: 0 10% 0 10%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    &_flex-child{

    }
  }
  &_cap {
    display: inline-flex;
    align-items: center;
  }

  &__header {
    font-weight: bold;  //repetation
    margin-left: 4%;
  }
  &__menu-button {
    position: relative;
    margin: 0 4% 0 auto;
    height: 56px;
    width: 56px;
    border-radius: 100%;
    box-shadow: 0px 19px 30px 7px #dbdbdb;
    background-color: #FFF;
  }
  &__menu-button_icon {
    position: absolute;
    top: 22px;
    left: 20px;
  }
  &_page-name {
    height: 23%;
  }
  &__title {

    font-size: 1.8rem;
    font-weight: bold;
    font-family: Arial,serif;
    &_title_purple-text {
    }
  }
  &_points {
    height: 62%;
  }
  &__missions {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: start;
    &_aim {
      padding-left: 2%;
      margin-bottom: 5%
    }
    &_white-box {
    }
    &_icon {
      width: 20%;
    }
    &_text {
      color: #000;
      font-size: 0.9rem;
      line-height: 1.08rem;
      padding-top: 2%;
    }
  }
}

@media only screen and (orientation: landscape) {
  .second-page-content {
    &__margin {
      padding: 6% 0;
      height: 100%;
      width: 86%;
      margin: 0 7%;
    }
    &__header {
      margin-left: 0%;
      align-self: end;
    }
    &__menu-button {
      margin: -3% 10% 0 auto;
    }
    &__title {
      height: 100%;
      &_title_purple-text {
      }
    }
    &__missions {
      flex-flow: row;
      display: inline-flex;
      justify-content: space-evenly;

      &_aim {
        width: calc(100%/3);
        margin: initial;
        flex: 1 1 auto;
        padding-left: 3%;
      }
      &_white-box {
        display: flex;
        justify-content: center;
        padding: 12% 2%;
      }
      &_icon {
         width: 30%;
        height: 50%;
      }
      &_text {
        font-size: 0.85rem;
        line-height: 1.04rem;
      }
    }
  }
}