{% extends "layouts/layout.html.twig" %}

{% block title %}
    CV Anastasiia Rubinchik
{% endblock %}

{% block additionalLinks %}
    <style>
        @import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Crimson+Text:400,400i|Source+Serif+Pro');
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui">
{% endblock %}

{% block bodyClass %}
    my-cv
{% endblock %}

{% block content %}

    <div class="cv">
        <div class="cv_cenralization"></div>
    </div>

    {#<div class="cv">#}
        {#<div class="cv_cenralization">#}
            {##}
            {#<section class="prj-bright-food cv__parts projects desktop-center tablet-left" id="prj-online-shop">#}
                {#<p class="projects__used-techniques">React, Redux, Flexbox, react-slick</p>#}
                {#<a href="/bright-food" target="_blank">#}
                    {#<div class="projects__container prj-bright-food_img" title="Click me"></div>#}
                {#</a>#}
            {#</section>#}

            {#<section class="prj-online-shop cv__parts projects desktop-side" id="prj-online-shop">#}
                {#<p class="projects__used-techniques">React, Flexbox, Responsive design</p>#}
                {#<a href="/online-shop" target="_blank">#}
                    {#<div class="projects__container prj-online-shop_img" title="Click me"></div>#}
                {#</a>#}
            {#</section>#}

            {#<section class="prj-calender cv__parts projects desktop-side tablet-left " id="prj-calender">#}
                {#<p class="projects__used-techniques">JS: Date object, Flexbox</p>#}
                {#<a href="/calender" target="_blank">#}
                    {#<div class=" projects__container prj-calender_img" title="Click me"></div>#}
                {#</a>#}
            {#</section>#}

            {#<section class="prj-mobile cv__parts projects desktop-center" id="prj-mobile">#}
                {#<p class="projects__used-techniques">SVG, responsive design</p>#}
                {#<a href="/mobile" target="_blank">#}
                    {#<div class=" projects__container prj-mobile_img" title="Click me"></div>#}
                {#</a>#}
            {#</section>#}

            {#<section class="prj-form-c13 cv__parts projects desktop-side" id="prj-form-c13">#}
                {#<p class="projects__used-techniques">HTML5, Flexbox, JQuery, Ajax</p>#}
                {#<a href="/c13" target="_blank">#}
                     {#<div class=" projects__container prj-form-c13_img" title="Click me"></div>#}
                {#</a>#}
            {#</section>#}
            {##}
            {#<section class="prj-game cv__parts projects desktop-center" id="prj-game">#}
                {#<p class="projects__used-techniques">Simple JS game</p>#}
                {#<a href="/numbersgame" target="_blank">#}
                    {#<div class=" projects__container prj-game_img" title="Click me"></div>#}
                {#</a>#}
            {#</section>#}


            {#<section class="prj-to-do-app cv__parts projects desktop-side tablet-left" id="prj-to-do-app">#}
                {#<p class="projects__used-techniques">JQuery, Ajax</p>#}
                {#<a href="/to-do-app" target="_blank">#}
                    {#<div class="projects__container prj-to-do-app_img" title="Click me"></div>#}
                {#</a>#}
            {#</section>#}
        {#</div>#}
    {#</div>#}



{% endblock %}
