{% extends "layouts/layout.html.twig" %}

{% block title %}
    CV Anastasiia Rubinchik
{% endblock %}

{% block additionalLinks %}
    <style>
        @import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Crimson+Text:400,400i|Source+Serif+Pro');
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui">
{% endblock %}

{% block bodyClass %}
    my-cv
{% endblock %}

{% block content %}

    <div class="cv">
        <div class="cv_cenralization">

            <section class="general-info cv__parts cv_text-indent desktop-side tablet-left" id="information">
                <div class="cv_line-indent">
                    <div class="my-image">
                        <div class="my-image_container"></div>
                    </div>
                    <div class="information">
                        <p class="cv_headings">
                            Hello!
                        </p>
                        <p class="cv_headings">
                            I am Anastasiia Rubinchik.
                        </p>
                        <div class="information__self-description">
                            <p cv_text-indent> I’ve been living in Berlin for last 2 years. </p>
                            <p cv_text-indent>Into programming I was engaged not accidentally - I'm surrounded by people connected with web development. I’ve got very interested in the process of programming and studying various techniques. </p>
                            <p cv_text-indent>I have been studying programming since 6 months in my spare time. I learn on my own, namely I take online courses, read articles and books, practise writing code, performing various tasks.</p>
                            <p cv_text-indent>My goal is to become a professional front-end developer.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="education  cv__parts desktop-side" id="education">
                <div class="cv_line-indent">
                    <p class="cv_headings">
                        education
                    </p>
                    <div class="education__description">
                        <p class="education__description_timeline">&#9733; September 1, 2011 - June 31, 2015</p>
                        <p class="education__description_nomination">Bachelor degree in International Affairs</p>
                        <p class="education__description_place">National Research University - High School of Economics, Moscow, Russia </p>
                    </div>
                </div>
            </section>

            <section class="experience cv__parts desktop-side" id="experience">
                <div class="cv_line-indent">
                    <p class="cv_headings">
                        professional experience
                    </p>
                    <div class="experience__description" style="margin-bottom: 5px">
                        <p class="experience__description_timeline">&#9733; April 01, 2015 – May 15, 2015</p>
                        <p class="experience__description_nomination">Trainee in Department of International Cooperation</p>
                        <p class="experience__description_place">Joint Stock Company "Russian Railways", Moscow, Russia</p>
                        <p class="experience__description_duties">Analysis of the development of the Eurasian Economic Union and identification of the weaknesses of the Eurasian Economic Union and its impact on the Russian railroad</p>
                    </div>
                    <div class="experience__description">
                        <p class="experience__description_timeline">&#9733; November 15,2016 - January 15,2018</p>
                        <p class="experience__description_nomination">Tourist consultant and saleswoman</p>
                        <p class="experience__description_place">TMB Tourismus-Marketing Brandenburg GmbH, Schoenefeld Airport</p>
                        <p class="experience__description_duties">Travel tickets consultation, sightseeings advice, office activities</p>
                    </div>
                </div>
            </section>

            <section class="techniques cv__parts cv_text-indent desktop-center" id="techniques">
                <div class="cv_line-indent">
                    <p class="cv_headings">
                        techniques
                    </p>
                    <div class="techniques_container">
                        <div class="techniques__each">
                            <p class="html5 techniques__svg">HTML5</p>
                        </div>
                        <div class="techniques__each">
                            <p class="css33 techniques__svg">CSS3</p>
                        </div>
                        <div class="techniques__each">
                            <p class="sass techniques__svg">Sass</p>
                        </div>
                        <div class="techniques__each">
                            <p class="layouts techniques__svg">Flexbox and Grid Layouts</p>
                        </div>
                        <div class="techniques__each">
                            <p class="svg techniques__svg">SVG graphics</p>
                        </div>
                        <div class="techniques__each">
                            <p class="bootstrap3 techniques__svg">Bootstrap3</p>
                        </div>
                        <div class="techniques__each">
                            <p class="jss techniques__svg">JavaScript, ES6</p>
                        </div>
                        <div class="techniques__each">
                            <p class="jquery techniques__svg">JQuery</p>
                        </div>
                        <div class="techniques__each">
                            <p class="react techniques__svg">ReactJS</p>
                        </div>
                        <div class="techniques__each">
                            <p class="npm techniques__svg" >npm</p>
                        </div>
                        <div class="techniques__each">
                            <p class="git techniques__svg">git</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="skills cv__parts cv_text-indent desktop-side tablet-left " id="skills">
                <div class="cv_line-indent">
                    <p class="cv_headings">
                        skills
                    </p>
                    <ul class="skills__list">
                        <li class="skills__list_items">Eager to learn</li>
                        <li class="skills__list_items">Self-motivation</li>
                        <li class="skills__list_items">Self-organisation</li>
                        <li class="skills__list_items">Time-management</li>
                        <li class="skills__list_items">Problem-solver</li>
                        <li class="skills__list_items">Success-oriented</li>
                        <li class="skills__list_items">Detail-oriented</li>
                        <li class="skills__list_items">Adaptability</li>
                        <li class="skills__list_items">Ability to work with documentations</li>
                        <li class="skills__list_items">IDE: PhpStorm</li>
                    </ul>
                </div>
            </section>

            <section class="languages cv__parts desktop-side" id="languages">
                <div class="cv_line-indent">
                    <p class="cv_headings">
                        languages
                    </p>
                    <div class="languages_container">
                        <div class="languages__each english">
                            <div class="languages__svg-container" ></div>
                            <p class="languages_uppercase">English</p>
                            <p class="languages_font-size">Upper-intermediate</p>
                        </div>
                        <div class="languages__each german">
                            <div class="languages__svg-container"></div>
                            <p class="languages_uppercase">German</p>
                            <p class="languages_font-size">Upper-intermediate</p>
                        </div>
                        <div class="languages__each russian">
                            <div class="languages__svg-container"></div>
                            <p class="languages_uppercase">Russian</p>
                            <p class="languages_font-size">Native-speaker</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="hobbies cv__parts desktop-center tablet-left" id="hobbies">
                <div class="cv_line-indent">
                    <p class="cv_headings">
                        hobbies
                    </p>
                    <div class="hobbies_container">
                        <div class="hobbies__each">
                            <img src="/images/svg/hobbies/snowboarding.svg" class="hobbies__svg snowboarding" alt="snowboarding" title="snowboarding"/>
                        </div>
                        <div class="hobbies__each">
                            <img src="/images/svg/hobbies/travelling.svg" class="hobbies__svg travelling" alt="travelling" title="travelling"/>
                        </div>
                        <div class="hobbies__each">
                            <img src="/images/svg/hobbies/board-games.svg" class="hobbies__svg board-games" alt="board games" title="board games"/>
                        </div>
                        <div class="hobbies__each">
                            <img src="/images/svg/hobbies/handiwork.svg" class="hobbies__svg handiwork" alt="handiwork" title="handiwork"/>
                        </div>
                        <div class="hobbies__each">
                            <img src="/images/svg/hobbies/tv-series.svg" class="hobbies__svg tv-series" alt="TV series" title="TV series"/>
                        </div>
                        <div class="hobbies__each">
                            <img src="/images/svg/hobbies/coins.svg" class="hobbies__svg coins" alt="eurocoins collection" title="eurocoins collection"/>
                        </div>
                    </div>
                </div>
            </section>

            <section class="prj-to-do-app cv__parts projects desktop-side" id="prj-to-do-app">
                <a href="to-do-app" target="_blank">
                    <div class="projects__container prj-to-do-app_img" title="Click me"></div>
                </a>
            </section>

            <section class="prj-calender cv__parts projects desktop-side tablet-left " id="prj-calender">
                <a href="/calender" target="_blank">
                    <div class=" projects__container prj-calender_img" title="Click me"></div>
                </a>
            </section>

            <section class="prj-form-c13 cv__parts projects desktop-side" id="prj-form-c13">
                <a href="/c13" target="_blank">
                     <div class=" projects__container prj-form-c13_img" title="Click me"></div>
                </a>
            </section>

            <section class="prj-calculator cv__parts projects desktop-center tablet-left " id="prj-calculator" >
                <a href="/calculator" target="_blank">
                    <div class=" projects__container prj-calculator_img" title="Click me"></div>
                </a>
            </section>

            <section class="prj-game cv__parts projects desktop-center" id="prj-game">
                <a href="/numbersgame" target="_blank">
                    <div class=" projects__container prj-game_img" title="Click me"></div>
                </a>
            </section>

            <section class="prj-mobile cv__parts projects desktop-center tablet-left" id="prj-mobile">
                <a href="/mobile" target="_blank">
                    <div class=" projects__container prj-mobile_img" title="Click me"></div>
                </a>
            </section>

            <section class="prj-react-ingredients cv__parts projects desktop-side" id="prj-react-ingredients">
                <a href="/ingridients" target="_blank">
                    <div class=" projects__container prj-react-ingredients_img" title="Click me"></div>
                </a>
            </section>

            <section class="contacts cv__parts cv_text-indent desktop-center" id="contacts">
                <div class="cv_line-indent">
                    <p class="cv_headings">
                        contacts
                    </p>
                    <div class="contacts__details">
                        <p>
                            <a title="my website" class="contacts_links contacts_text-bold" href="http://anastasiia.ilfate.net/" target="_blank">
                               http://anastasiia.ilfate.net/
                            </a>
                        </p>
                        <p>
                            git repository:
                            <a title="my git repository"  class="contacts_links contacts_text-bold"  href="https://github.com/ulyanovanv" target="_blank">
                               https://github.com/ulyanovanv
                            </a>
                        </p>
                        <p >
                            e-mail:
                            <a class="contacts_text-bold" href="mailto:av.ulyanova.com" style="color: #4d4141">av.ulyanova@gmail.com</a>
                        </p>
                        <p>
                            Phone number:
                            <span class="contacts_text-bold">+49 179 3182901</span>
                        </p>
                        <p>
                            <a title="my CV" class="contacts_links contacts_text-bold" href="/cv_doc/CV_english_IT_as_web.docx.pdf" target="_blank">
                                Download CV
                            </a>
                        </p>
                    </div>
                </div>
            </section>

        </div>
    </div>



{% endblock %}

{% block jsDifferent %}


{% endblock %}