{% extends "layouts/layout.html.twig" %}

{% block title %}
    CV Anastasiia Rubinchik
{% endblock %}

{% block additionalLinks %}
    <style>
        @import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Crimson+Text:400,400i|Source+Serif+Pro');
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui">
{% endblock %}

{% block bodyClass %}
    my-cv
{% endblock %}

{% block content %}

    <div class="cv">
        <div class="cv_cenralization"></div>
    </div>

{% endblock %}
