body.react-searching-form {
  height: 100%;
  width:  75%;
  margin: 20px auto;
  #application {

  }
  input, select {
    padding: 0;
    margin: 0;
    outline: none;
  }


  .first-line {
    display: flex;
    flex-direction: column;

    input, select {
      height: 22px;
    }
    .category-choose {
      width: 150px;
      float: left;
      line-height: 30px;
      padding-left: 10px;
    }
    #search-start {
      width: 200px;
    }
    .wohnung {
      height: 50px;
      background-color: #0077cc;
      div {
        line-height: 50px;
      }
      .wohnung-object{
        float: left;
        padding-left: 20px;
        border-right: 1px solid #0077cc;
      }
      #wohnung-object{
        border: none;
        border-right: 1px solid grey;
        width: 200px;
      }
      .wohnung-distance {
        float: left;
      }
      .wohnung-category {
        float: right;
        padding-right: 20px;
      }
    }
  }

  .second-line{
    margin: 10px auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    .filter {
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      position:relative;
      width: 150px;
      label {
        font-weight: bold;
        & > input {
          margin-right: 5px;
        }
      }
      & > input {
        width: 100px;
      }
      select {
        height: 30px;
        width: 150px;
        border: 1px solid Grey;
        border-radius: none;
      }
    }
    .filter_container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border: 1px solid grey;
      position: absolute;
      top:38px;
      left:0;
      width: 150px;
    }
    .filter_options{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 150px;
      label {
        line-height: 20px;
        height: 20px;
        padding-left: 10px;
        font-weight: bold;
        font-size: 12px;
      }
    }
    input[type="number"] {
      width: 50px;
      height: 20px;
    }
    .filter_selfwriting {
      display: flex;
      justify-content: space-around;
    }
    .filter_nehmen {
      margin: 10px;
    }
    .suchen {
      margin-left: auto;
      input {
        height: 28px;
        width: 150px;
        background-color: red;
        color: white;
        outline: none;
        border: none;
        font-size: 16px;
      }
    }
  }
}

